<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content" th:inline="text">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$(function (){
				fnGetDntnCmmtList();
				fnGetDntnNewsList();
			});
		
			//응원글 리스트 조회
			function fnGetDntnCmmtList(pageNo){
				pageNo = (pageNo == null || pageNo == 0) ? 1 : pageNo;
				$("#pageNo", document.cmmtForm).val(pageNo);
				
				goAjax("/dntn/dntnCmmtAjax","POST", false, $("#cmmtForm").serialize(), fnGetDntnCmmtListCallBack);
				
				function fnGetDntnCmmtListCallBack(data){
					if(pageNo == 1){
						$("#cmmtAjax").html(data);
					}else{
						$("#cmmtAjax").append(data);
					}
					
					$("#btnCmmtMore").click(function(){
						$(this).parent('div').parent('div').remove();
						fnGetDntnCmmtList(parseInt(pageNo)+1);
					});
				}
			}
			
			//기부소식 리스트 조회
			function fnGetDntnNewsList(pageNo){
				pageNo = (pageNo == null || pageNo == 0) ? 1 : pageNo;
				$("#pageNo", document.newsForm).val(pageNo);
				
				goAjax("/dntn/dntnNewsAjax","POST", false, $("#newsForm").serialize(), fnGetDntnNewsListCallBack);
				
				function fnGetDntnNewsListCallBack(data){
					if(pageNo == 1){
						$("#newsAjax").html(data);
					}else{
						$("#newsAjax").append(data);
					}
					
					$("#btnNewsMore").click(function(){
						$(this).parent('div').parent('div').remove();
						fnGetDntnNewsList(parseInt(pageNo)+1);
					});
				}
			}
	    /*]]>*/
	</script>

<form id="cmmtForm" name="cmmtForm">
	<input type="hidden" name="pageNo" id="pageNo" value="1"/>
	<input type="hidden" name="countPage" id="countPage" value="5"/>
	<input type="hidden" name="cmpSq" id="cmpSq" th:value="${dntnDtl.cmpSq}"/>
</form>	

<form id="newsForm" name="newsForm" action="/moveDntnIns">
	<input type="hidden" name="pageNo" id="pageNo" value="1"/>
	<input type="hidden" name="countPage" id="countPage" value="5"/>
	<input type="hidden" name="cmpSq" id="cmpSq" th:value="${dntnDtl.cmpSq}"/>

	<!-- 기부목록 -->
	<section>
		<div class="container pdb70">
			<div class="row">
				<div class="col-md-12 nopadding nomargin">
					<h4 class="sub-title" th:text="${dntnDtl.cmpNm}"></h4>
					
					<th:block th:if="${#lists.isEmpty(dntnImgLst)}">
						<div><img class="img-responsive" src="/assets/images/demo/portfolio/1.jpg" alt="default이미지"></div>
					</th:block>
					
					<th:block th:unless="${#lists.isEmpty(dntnImgLst)}">
						<div class="owl-carousel controlls-over2" data-plugin-options='{"items": 1, "singleItem": false, "autoPlay": true}'>
							<th:block th:each="imgLst, idx : ${dntnImgLst}">
								<div style="height: 250px;"><img class="img-responsive" th:src="${imgLst.imgPth}" th:alt="${imgLst.imgInf}"> <!-- thumb --></div>
							</th:block>
						</div>
					</th:block>
					<div class="row col-xs-12 mgt-75" style="z-index: 999999999999">
						<div class="pull-left pdl10">
							<a href="#" class="social fa fa-facebook" data-toggle="tooltip" data-placement="top" data-original-title="페이스북"></a> 
							<a href="#" class="social fa fa-commenting" data-toggle="tooltip" data-placement="top" data-original-title="메세지"></a> 
							<a href="#" class="social fa fa-envelope" data-toggle="tooltip" data-placement="top" data-original-title="이메일"></a>
						</div>
						<div class="pull-right mgt10 label label-success fsize14">
							<span th:text=${dntnDtl.mrchGrpNm}></span>
						</div>
					</div>
					
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<div class="tabs tabs-style2">
									<!-- tabs -->
									<ul class="nav nav-tabs text-center">
										<li class="active col-xs-6 nopadding">
											<a href="#tab1" data-toggle="tab" onclick="$('#cmmtAjax').show();"> <i class="fa fa-heart"></i> 기부소개</a>
										</li>
										<li class="col-xs-6 nopadding">
											<a href="#newsTab" data-toggle="tab" onclick="$('#cmmtAjax').hide();"> <i class="fa fa-comments"></i> 기부 소식/후기</a>
										</li>
									</ul>
	
									<!-- tabs content -->
									<div class="tab-content">
										<div id="tab1" class="tab-pane active">
											<div class="alert alert-danger text-center padding-bottom10  padding-top10">
												<h4 class="text-right mgb20" th:text="${dntnDtl.dnmrKnVal}"></h4>
												<div class="progress progress-striped mgt10 mgb10" th:inline="text">
													<div th:id="pgrBar" class="progress-bar progress-bar-danger animation-visible" data-appear-progress-animation="50%" data-appear-animation-delay="600" style="animation-delay: 600ms; width: 10%;">
														<span class="progress-bar-tooltip" style="opacity: 1;" th:text="${dntnDtl.pctTokn} + '%'"></span>
													</div>
												</div>
												<div class="progress-label" th:inline="text">
													<span><strong th:text="${#numbers.formatInteger(dntnDtl.dnmrTokn,0,'COMMA')}+'c'"></strong>[[${#numbers.formatInteger(dntnDtl.trgtTokn,0,'COMMA')}]]c</span>
												</div>
											</div>
											
											<div class="mgb30" th:utext="${#strings.replace(dntnDtl.cmpCn,T(System).getProperty('line.separator'),'&lt;br /&gt;')}"></div>
											<!-- <div class="mgb30" th:utext="${dntnDtl.cmpCn}"></div> -->
											
											<table class="table table-bordered border-red mgb30">
												<!-- table head -->
												<thead>
													<tr class="danger">
														<th class="text-center">No.</th>
														<th class="text-center">사용계획</th>
														<th class="text-center">사용금액</th>
													</tr>
												</thead>
	
												<!-- table items -->
												<tbody>
													<th:block th:if="${#lists.isEmpty(dntnCostLst)}">
														<tr>
															<td colspan="3">사용계획이 없습니다.</td>
														</tr>
													</th:block>
													<th:block th:unless="${#lists.isEmpty(dntnCostLst)}">
														<th:block th:each="costLst, idx : ${dntnCostLst}">
															<tr>
																<td class="text-center" th:text="${idx.count}"></td>
																<td th:text="${costLst.usePlan}"></td>
																<td class="text-right" th:text="${#numbers.formatInteger(costLst.useAmt,0,'COMMA')}+'c'"></td>
															</tr>
														</th:block>
													</th:block>
												</tbody>
											</table>
											
											<!-- 응원글/ -->
											<div class="row">
												<div class="col-xs-12" id="cmmtAjax"></div>
											</div>
											<!-- /응원글 -->
										</div>
										
										<!-- 기부소식&후기/ -->
										<div id="newsTab" class="tab-pane"><div class="rows" id="newsAjax"></div></div>
										<!-- /기부소식&후기 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-fixed-bottom" th:unless="${dntnDtl.dnmrKnVal eq '종료'}">
	            <button type="submit" class="btn btn-success btn-lg w100p"><i class="fa fa-heart"></i>&nbsp;기부하기</button>
	        </div>
		</div>
	</section>
	<!-- /기부 목록 -->
</form>
	
	<script type="application/javascript" th:inline="javascript">
	var pgr = [[ ${dntnDtl.pctTokn} ]]; pgr = (pgr>100) ? "100" : pgr;
	$("#pgrBar").attr('data-appear-progress-animation', pgr+'%');
	
	if(pgr == 100){
		$("#pgrBar").attr('class', 'progress-bar progress-bar-success');
	}_animate();
	</script>
</div>
</html>