<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<div layout:fragment="content" th:inline="text">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
			$(function (){
				fnGetMyCherry();
				
				$("#divDnmrKn").children('a').eq(0).addClass("active");
				$('#divDnmrKn a').each(function (index, item){
					var actYn = $(item).attr("class").indexOf("active");
					if(actYn > 0){
						$("#dntnKn").val($(item).attr("value"));
					}
				});
				$('#divDnmrKn a').click(function (){
					$("#divDnmrKn a").removeClass("active");
					$(this).addClass("active");
					
					var actYn = $(this).attr("class").indexOf("active");
					if(actYn > 0){
						$("#dntnKn").val($(this).attr("value"));
					}
				});
				
				$("#btnDntnIns").click(function () { //기부하기(버튼) 클릭
					if($("#dntnKn").val() == "02"){
						alert("정기후원은 준비중입니다.");
						return;
					}
					fnGetDntnIns();
		        });
				
				$("#btnDoflng").click(function () { //충전하기(버튼) 클릭
		            fnDoflng();
		        });
			});
		
			//충전완료 후처리
			function _fnFlngRst(){
				fnGetMyCherry(); //보유체리 잔액조회
				$('#myModal').modal("hide"); //충전하기 모달 닫기
				location.reload(true); //새로고침
			}
		
			function fnGetDntnIns(){
				var myCherry = $("#myCherry").text().replace("c","").replace(/,/gi,"");
				var dntnAmt = $("#totalAmount", document.insForm2).val().replace(/,/gi,""); //dntnAmt pvoType long이기 때문에 ',' 제거 후 data 전송
				
				if(dntnAmt == 0 || dntnAmt == ""){
					alert("기부할 체리를 입력하여 주시기 바랍니다.");
					return;
				}
				if(Number(myCherry) < Number(dntnAmt)){
					alert("보유하신 체리가 부족합니다.\n부족한 체리를 충전 후 기부를 진행해 주시기 바랍니다.");
					return;
				}
				$("#dntnAmt").val(dntnAmt);
				goAjax("/dntn/dntnIns","POST", false, $("#insForm").serialize(), fnGetDntnInsCallBack);
				
				function fnGetDntnInsCallBack(data){
					$("#rsltMsg").text(data.status.message);
					$('#myModal4').modal('show');
					
					setTimeout(function(){ 	//2초후, 보유체리 재조회
						fnGetMyCherry();	
					}, 2000); fnReset(); document.insForm.reset();
				}
			}
	    /*]]>*/
	</script>

	<!-- 진행중인 기부/ -->
	<section>
		<div class="container pdb70">
			<h2>기부하기</h2>

			<div class="row">
				<div class="col-md-12">
					<div class="white-row box-shadow pdt15 pdb15 bg-heart">
						<span class="label label-warning mgb5" th:text="${dntnDtl.mrchGrpNm}" th:unless="${dntnDtl.dnmrTp eq '01'}"></span>
						<h4 class="mgb0" th:text="${dntnDtl.cmpNm}"></h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- CREDIT CARD -->
					<label class="control-label">기부구분</label>
					<div class="row">
						<div class="col-md-12" id="divDnmrKn">
							<a class="btn btn-hvr hvr-fade" th:unless="${dntnDtl.dnmrKn eq '01'}" id="dnmrKn02" value="02"><i class="fa fa-check"></i>정기후원</th:block></a>
							<a class="btn btn-hvr hvr-fade" th:unless="${dntnDtl.dnmrKn eq '02'}" id="dnmrKn01" value="01"><i class="fa fa-check"></i>일시후원</th:block></a>
							<!-- 03(둘다)일 경우, 두 버튼 모두 노출 -->
						</div>
					</div>
					<!-- <label class="control-label mgt15">기부일자</label>
					<div class="row">
						<div class="col-md-12">
							<form class="form-group" method="post" action="#none">
								<select class="form-control pointer">
									<option value="" selected="selected">매월 5일</option>
									<option value="">매월 1일</option>
									<option value="">매월 5일</option>
									<option value="">매월 10일</option>
									<option value="">매월 15일</option>
									<option value="">매월 20일</option>
									<option value="">매월 25일</option>
									<option value="">매월 30일</option>
								</select>
							</form>
						</div>
					</div> -->

					<label class="control-label mgt15">기부 금액</label>
					<div class="white-row pdt15 pdb15 box-shadow">
						<!-- 기부금액 입력 -->
						<p class="mgb0">
							보유체리<br> 
							<span class="styleSecondColor fa-2x" id="myCherry"></span>
							<button type="button" class="btn btn-success btn-xs pull-right" data-toggle="modal" data-target="#myModal" id="btnDoflng">충전하기</button>
						</p>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-3 pdl0 pdr2"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('1000000', document.insForm2);">+ 100만</a></div>
							<div class="col-xs-3 pdl2 pdr2"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('500000', document.insForm2);">+ 50만</a></div>
							<div class="col-xs-3 pdl2 pdr2"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('100000', document.insForm2);">+ 10만</a></div>
							<div class="col-xs-3 pdl2 pdr0"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('50000', document.insForm2);">+ 5만</a></div>
						</div>
						<div class="col-xs-12 mgt5">
							<div class="col-xs-3 pdl0 pdr2"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('10000', document.insForm2);">+ 1만</a></div>
							<div class="col-xs-3 pdl2 pdr2"><a class="btn btn-default btn-xs w100p" onclick="fnPlus('1000', document.insForm2);">+ 1,000</a></div>
							<div class="col-xs-3 pdl2 pdr0 col-xs-offset-3"><a class="btn btn-xs btn-info w100p" onclick="fnReset(document.insForm2);">정정</a></div>
						</div>
					</div>
					<div class="row mgt5">
						<div class="col-xs-12">
							<form class="input-group" name="insForm2" onsubmit="return false;">
								<input type="tel" class="form-control text-right fsize18 fc04" onkeydown="return showKeyCode(event);" value="0" placeholder="0" id="totalAmount" onfocus="$(this).val($(this).val().replace(/,/gi, ''));" onchange="fnComma($(this).val(), document.insForm2);" onblur="fnComma($(this).val(), document.insForm2);"/>
								<span class="input-group-addon"><!-- <i class="fa fa-won"></i> -->C</span>
							</form>
						</div>
					</div>
					<hr class="mgt15 mgb15">

					<form name="insForm" id="insForm" onsubmit="return false;">
						<input type="hidden" name="cmpSq" th:value="${dntnDtl.cmpSq}"/>
						<input type="hidden" name="wltAddr" th:value="${dntnDtl.wltAddr}"/>
						<input type="hidden" name="dntnKn"  id="dntnKn"/>
						<input type="hidden" name="dntnAmt" id="dntnAmt"/>
						
						<th:block th:unless="${dntnDtl.dnmrTp eq '01'}"> <!-- 캠페인후원인 경우에만 응원글 작성 -->
							<label class="control-label">응원글</label>
							<div class="row">
								<div class="col-xs-12">
									<input type="text" name="cmmt" class="form-control" placeholder="내용을 입력해주세요(옵션)">
								</div>
							</div>
						</th:block>
					</form>
				</div>
				<div class="navbar-fixed-bottom">
					<button class="btn btn-success btn-lg w100p" data-toggle="modal" id="btnDntnIns"> <i class="fa fa-heart"></i> &nbsp;기부하기 </button>
				</div>
			</div>
		</div>
	</section>
	<!-- /진행중인 기부 -->
	
	<!-- 완료팝업/ -->
	<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top:150px">
			<div class="modal-content">
				<div class="modal-header"><!-- modal header -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel4">기부완료</h4>
				</div><!-- /modal header -->
	
				<!-- modal body -->
				<div class="modal-body pdb70">
					<p class="text-center fsize20" id="rsltMsg"></p>
					<p class="text-center">기부내역은 마이페이지에서 확인하실 수 있습니다.</p>
					<div class="navbar-fixed-bottom">
                        <div class="btn-group mgb0 w100p">
                            <button class="btn btn-black btn-lg w50p" onclick="location.href='/moveMyPag'">마이페이지</button>
                            <button class="btn btn-success btn-lg w50p" data-toggle="modal" data-dismiss="modal">확인</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- /완료팝업 -->
	
	<div id="rsltPop"></div>
</div>
</html>