<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="dntnCmmtAjax">
	<h3 class="mgb5" th:if="${pageNo == 1}">
		응원글<small class="styleSecondColor" th:text="'('+${totCnt}+'개)'"></small>
	</h3>
	
	<th:block th:if="${#lists.isEmpty(cmmtLst)}">
		<p>응원글이 없습니다.</p>
	</th:block>
	
	<th:block th:unless="${#lists.isEmpty(cmmtLst)}">
		<th:block th:each="cmmtLst : ${cmmtLst}">
			<div class="comment">
				<hr class="mgb10 mgt10" />
				<!-- user-avatar -->
				<span class="user-avatar"> 
					<th:block th:if="${#strings.isEmpty(cmmtLst.prfImg)}">
						<img class="pull-left media-object" src="/assets/images/avatar.png" th:alt="${cmmtLst.nickNm}">
					</th:block>
					
					<th:block th:unless="${#strings.isEmpty(cmmtLst.prfImg)}">
						<img class="pull-left media-object" th:src="${cmmtLst.prfImg}" th:alt="${cmmtLst.nickNm}">
					</th:block>
				</span>
				<div class="media-body pdl10" th:inline="text">
					<small class="block styleSecondColor" th:text="${cmmtLst.dntnDttm}"></small>
					[[ ${cmmtLst.cmmt} ]]
				</div>
			</div>
		</th:block>
	</th:block>
	<div class="row mgt20" th:if="${hasNext eq true}">
	    <div class="col-md-12">
	        <button class="btn btn-more btn-lg w100p" id="btnCmmtMore"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	    </div>
	</div>
</body>
</html>