<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 기부내역 목록 -->
<body th:fragment="myDntnList">
	<th:block th:if="${#lists.isEmpty(resultList)}">
		<th:block th:if="${totalCnt eq 0}">
		 <li class="list_item">
		 	<strong class="txt_type4 topic">기부내역이 존재하지 않습니다.</strong>	
		 </li>	
		</th:block>
	</th:block>
	<th:block th:unless="${#lists.isEmpty(resultList)}">
	  <th:block th:each="resultList : ${resultList}" >
		  <li class="list_item">
              <th:block th:switch="${resultList.dntnKn}" >
				<span th:case="01" class="ico_notice mgr5">일시</span>
				<span th:case="02" class="ico_info mgr5">정기</span>
			  </th:block>
              <strong class="txt_type4 topic" th:text="${resultList.cmpNm}">캠페인명</strong>
              <span class="txt_type4 date" th:text="${resultList.dntnDttmFmt}">기부일시</span>
              <span class="price" th:text="${#numbers.formatInteger(resultList.dntnAmt,0,'COMMA')} + 'c'">기부금액</span>
          </li>
	  </th:block>
	  <th:block th:if="${hasNext eq true}">
	  <div class="row mgt20">
	     <div class="col-md-12">
	         <button id="btnMore" class="btn btn-more btn-lg w100p"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	     </div>
 	  </div>
 	  </th:block>
	</th:block>	
</body>

<!-- /Page Body -->
</html>