<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 충전내역 목록 -->
<body th:fragment="myFlngList">
	<th:block th:if="${#lists.isEmpty(resultList)}">
		<th:block th:if="${totalCnt eq 0}">
		 <li class="list_item">
		 	<strong class="txt_type4 topic">충전내역이 존재하지 않습니다.</strong>	
		 </li>	
		</th:block>
	</th:block>
	<th:block th:unless="${#lists.isEmpty(resultList)}">
	  <th:block th:each="resultList : ${resultList}" >
	      <li class="list_item">
              <th:block th:switch="${resultList.stlmKn}" >
				<span th:case="01" class="ico_info mgr5">신용카드</span>
				<span th:case="02" class="ico_notice mgr5">계좌이체</span>
				<span th:case="03" class="ico_pay mgr5">카카오페이</span>
			  </th:block>
              <span class="txt_type4 date" th:text="${resultList.lnkPrcDtFmt}"></span>
              <span class="price" th:text="${#numbers.formatInteger(resultList.flngAmt,0,'COMMA')} + 'c'"></span>
          </li>	
	  </th:block>
	  <th:block th:if="${hasNext eq true}">
	  <div class="row mgt20">
	     <div class="col-md-12">
	         <button id="btnMore" class="btn btn-more btn-lg w100p"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	     </div>
 	  </div>
 	  </th:block>
	</th:block>	
</body>

<!-- /Page Body -->
</html>