<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- 마이페이지 - 메인화면  --> 
<div layout:fragment="content">

	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function (){
			$("#btnDoflng").click(function () {
	            fnDoflng();
	        });
			
			$("#appShare").click(function () { //앱공유하기
				caasToApp.sharePick();
	        });
		});
		
		//충전완료 후처리
		function _fnFlngRst(){
			fnGetMyCherry(); //보유체리 잔액조회
			$('#myModal').modal("hide"); //충전하기 모달 닫기
		}
	    /*]]>*/
	</script>
	
	<!-- 마이페이지// -->
	<section>
		<div class="container">
               <div class="row mgl-10 mgr-10">
                   <div class="col-xs-12">
                       <div class="item-box mgt0 bg-user">
                           <figure>
                           	   <th:block th:if="${#strings.isEmpty(myInfo.prfImg)}">
                           	   	  <a class="item-hover lightbox" href="assets/images/demo/people/user_none.png" data-plugin-options='{"type":"image"}'></a>
                               	  <div class="user box-shadow"><img class="img-responsive" src="assets/images/demo/people/user_none.png" alt="사진이 없습니다."></div>
                           	   </th:block>
                           	   <th:block th:unless="${#strings.isEmpty(myInfo.prfImg)}">
                           	   	  <a class="item-hover lightbox" th:href="${myInfo.prfImg}" data-plugin-options='{"type":"image"}'></a>
                               	  <div class="user box-shadow"><img class="img-responsive" th:src="${myInfo.prfImg}" th:alt="${myInfo.nickNm}"></div>
                           	   </th:block>
                           </figure>
                           <div class="col-xs-2 col-xs-offset-7 mgt-40 bg-white radius50p w35 hi35 pdt5 text-center">
                           		<a th:href="@{/moveProfilePag}"><i class="fa fa-pencil fsize20"></i></a>
                           </div>
                           <div class="col-xs-12 text-center mgt15">
                               <h3 class="color-white">
                               	   <th:block th:if="${#strings.isEmpty(myInfo.nickNm)}">
	                               	  <span class="color-white"  th:text="${myInfo.cnrNm}"></span>
	                               </th:block>
	                               <th:block th:unless="${#strings.isEmpty(myInfo.nickNm)}">
	                               	  <span class="color-white" th:text="${myInfo.cnrNm}+'('+${myInfo.nickNm}+')'"></span>
	                               </th:block>
                               	   <button type="button" class="btn btn-success btn-xs mgl10" data-toggle="modal" data-target="#myModal" id="btnDoflng">충전하기</button>
                               	</h3>
                               <p><a th:href="@{/moveFlngHstPag}"><span class="fsize40 color-white" id="myCherry" th:text="${#numbers.formatInteger(wltLv,0,'COMMA')} + 'c'">0c</span></a></p>
                               <hr class="mgb20 mgt10" style="opacity: 0.5">
                               <div class="col-xs-10 col-xs-offset-1 pdb10">
                                   <p class="mgb10 text-left fsize18 color-white">나의 기부 / 총<span class="fc03" th:text="${dntnInfo.dntnCntSum}">0</span>건<a th:href="@{/moveDntnHstPag}"><span class="fsize18 pull-right color-white" th:text="${#numbers.formatInteger(dntnInfo.dntnAmtSum,0,'COMMA')} + 'c'">0c</span></a></p>
                               </div>
                           </div>
                           
                       </div>
                       
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <ul class="list_bbs2">
                           <li class="list_item">
                               <a th:href="@{/moveBllMgmtPag}">
                                   <strong class="txt_type4 topic"><i class="fa fa-credit-card fc05 mgr10"></i> 결제정보 관리</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                           <li class="list_item">
                               <a th:href="@{/moveFxprMgmtPag}">
                                   <strong class="txt_type4 topic"><i class="fa fa-clock-o fc05 mgr10"></i> 정기기부 결제정보</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                           <li class="list_item">
                               <a th:href="@{/moveDntnHstPag}">
                                   <strong class="txt_type4 topic"><i class="fa fa-file-text fc05 mgr10"></i> 영수증 신청</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                           <li class="list_item">
                               <a th:href="@{/movePnFaqPag}">
                                   <strong class="txt_type4 topic"><i class="fa fa-bullhorn fc05 mgr10"></i> 공지사항/FAQ</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                           <li class="list_item">
                               <a th:href="@{/moveSettingPag}">
                                   <strong class="txt_type4 topic"><i class="fa fa-gear fc05 mgr10"></i> 환경설정</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                           <li class="list_item">
                               <a id="appShare">
                                   <strong class="txt_type4 topic"><i class="fa fa-share-alt fc05 mgr10"></i> 앱 공유하기(친구초대)</strong><em class="fa fa-angle-right fa-pull-right fa-2x"></em>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
		</div>
	</section>
	<!-- //마이페이지 -->
	
</div>
</html>