<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
 
<div layout:fragment="content">

	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function (){
			
			$("#btnPrfSave").click(function () { //프로필 저장
	            fnSaveProfile(); 
	        });

			$("#btnGetImg").click(function () { //사진변경(앨범에서 선택)
				caasToApp.getPic2("fnSetPrfImg"); 
	        });
			
			$("#btnDelImg").click(function () { //사진변경(사진 삭제)
				fnSetPrfImg();
	        });
		});
		
		//프로필 사진 적용
		function fnSetPrfImg(base64pic){
			var img = "assets/images/demo/people/user_none.png";
			if(base64pic != undefined){ //앨범 이미지
				console.log("ok");
				img = "data:image/png;base64,"+base64pic;
			}
			$("#divPrfImg .lightbox").attr("href", img);
            $("#divPrfImg .img-responsive").attr("src", img);
            $("#prfModal").modal("hide");
		}
		
		//프로필 저장
		function fnSaveProfile(){
			var nickNm = $("#nickNm").val().trim();
			var nickNmRegx = /^[ㄱ-ㅎ가-힣A-Za-z]{2,10}$/;
			if(nickNm && !nickNmRegx.test(nickNm)){
	            alert("닉네임은 영문 또는 한글 2~10자리 이내로 입력해주세요.");
	            $("#nickNm").focus();
	            return;
	        }
			var prfImg = $("#divPrfImg .img-responsive").attr("src");
			if(prfImg.indexOf("user_none")!=-1){
				prfImg = "";
			}
			var param = {nickNm:nickNm, prfImg:prfImg};
			goAjax("/my/updatePrfInfo", "POST", false, param, fnSavePrfCallBack);
		}
		function fnSavePrfCallBack(data) {
	        if(data.status.code != 0){
	        	 alert(data.status.message);
	        	 return;
	        }
	        $("#msgModal").modal("show");
	    }
		
	    /*]]>*/
	</script>

	<!-- 프로필 설정 // -->
	<section class="pdt10">
		<div class="container pdb70">
               <h2>프로필 설정</h2>
               <div class="row mgl-10 mgr-10">
                   <div class="col-xs-12">
                       <div id="divPrfImg" class="item-box mgt0 bg-user pdt10 pdb10">
                           <figure>
                               <th:block th:if="${#strings.isEmpty(myInfo.prfImg)}">
                                 <a class="item-hover lightbox" href="assets/images/demo/people/user_none.png" data-plugin-options='{"type":"image"}'></a>
                               	 <div class="user box-shadow"><img class="img-responsive" id="img_form_url" src="assets/images/demo/people/user_none.png"></div>
                               </th:block>
                               <th:block th:unless="${#strings.isEmpty(myInfo.prfImg)}">
                                 <a class="item-hover lightbox" th:href="${myInfo.prfImg}" data-plugin-options='{"type":"image"}'></a>
                                 <div class="user box-shadow"><img class="img-responsive" id="img_form_url" th:src="${myInfo.prfImg}"></div>
                               </th:block>
                           </figure>
                           <div class="col-xs-2 col-xs-offset-7 mgt-40 bg-white radius50p w35 hi35 pdt5 text-center"><a data-toggle="modal" data-target="#prfModal"><i class="fa fa-camera fsize20"></i></a></div>
                       </div>
                   </div>
               </div>
               
               <label class="control-label">닉네임</label>
               <div class="row">
                   <div class="col-xs-12">
                       <input class="form-control" type="text" id="nickNm" th:value="${myInfo.nickNm}" placeholder="닉네임을 입력하세요!" maxlength="10">
                       <small class="styleSecondColor mgt15">※ 영문 또는 한글 2~10자리 이내</small>
                   </div>
                   
               </div>
               <div class="navbar-fixed-bottom">
                   <button type="button" id="btnPrfSave" class="btn btn-success btn-lg w100p"><i class="fa fa-check"></i> &nbsp;저장</button>
               </div>
		</div>
	</section>
	<!-- //프로필 설정 -->
	
	<!-- 프로필 사진설정 // -->
	<div class="modal fade" id="prfModal" tabindex="-1" role="dialog" aria-labelledby="prfModalLabel" aria-hidden="true">
		<div class="modal-dialog w94p" style="bottom:40px; position: absolute;">
			<div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <button id="btnGetImg" class="btn btn-success btn-lg btn-block"><i class="fa fa-file-image-o"></i> &nbsp;앨범에서 선택</button>
                    </div>
                    <div class="col-md-12 mgt5">
                        <button id="btnDelImg" class="btn btn-primary btn-lg btn-block"><i class="fa fa-times"></i> &nbsp;프로필 사진 삭제</button>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- //프로필 사진설정 -->
	
	<!-- 프로필 저장완료 // -->
	<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin-top:150px">
			<div class="modal-content">
				<div class="modal-header"><!-- modal header -->
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="msgModalLabel2">프로필 설정 완료</h4>
				</div><!-- /modal header -->
				<!-- modal body -->
				<div class="modal-body pdb70">
					<p class="text-center fsize20">"프로필이 저장 되었습니다."</p>
                    <p class="text-center">마이페이지에서 확인하실 수 있습니다.</p>
                    <div class="navbar-fixed-bottom">
                        <button class="btn btn-success btn-lg w100p" onclick="location.href='/moveMyPag'" data-toggle="modal" data-dismiss="modal"> &nbsp;확인</button>
                    </div>
				</div>

			</div>
		</div>
	</div>
	<!-- //프로필 저장완료 -->
</div>
</html>