<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sampleListAjax">   
<div class="widget-body">
    <div class="flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content bordered-orange">
                <tr>
                    <th class="text-center">key<i class="fa"></i></th>
                    <th class="text-center">val1<i class="fa"></i></th>
                    <th class="text-center">val2<i class="fa"></i></th>
                    <th class="text-center">str1<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<script> if(isSearch){ alert("데이터가 존재하지 않습니다."); } </script>
				<tr>
					<td colspan="9" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over" th:value="${resultList.key}" th:data="${resultList.val1}"
						th:name="${resultList.val2}" th:str1="${resultList.str1}">
                            <td class="text-center" th:text="${resultList.key}">key</td>
                            <td class="text-center" th:text="${resultList.val1}">val1</td>
                            <td class="text-center" th:text="${resultList.val2}">val2</td>
                            <td class="text-center" th:text="${resultList.str1}">str1</td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    $('.list-mouse-over .row-mouse-over').click(
        function(){
            $('.list-mouse-over').find('tr').each(function(){
                $(this).removeClass('selectedRow');
                $(this).css('background-color', $(this).data('bgColor'));
            });
            var $this = $(this);
            $this.addClass('selectedRow');
            $this.css('background-color', '#cde7ff');

            $("#key", document.deleteData).val($(this).attr('value'));
            $("#val1", document.deleteData).val($(this).attr('name'));
            $("#val2", document.deleteData).val($(this).attr('data'));
            $("#str1", document.deleteData).val($(this).attr('str1'));
        }
    );

    /*]]>*/
</script>
<!-- /Page Body -->
</html>