<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">

<!-- 마이페이지 - 공지사항 상세조회(페이지 전환) -->   
<div layout:fragment="content">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function (){
		});
	    /*]]>*/
	</script>

	<section>
		<div class="container">
            <h2>공지사항 / FAQ</h2>
            <hr class="nomargin">
			<div class="row">
                 <div class="col-md-12">
                     <div class="list_view mgt20">
                         <div class="bbs_info">
                             <h3 class="topic">
                                 <span class="ico_notice">공지</span>
                                 <strong class="txt_type5" th:text="${result.title}"></strong>
                             </h3>
                             <div class="bbs_addon">
                                 <span class="date" th:text="${result.regDttmFmt}"></span>
                             </div>
                         </div>
                         <div class="list_content">
                             <div class="txt_type6" th:utext="${#strings.replace(result.ctnt,T(System).getProperty('line.separator'),'&lt;br /&gt;')}"></div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row mgt30">
                 <div class="col-md-12">
                     <button class="btn btn-more btn-lg w100p" onclick="history.back();"><i class="fa fa-bars"></i> &nbsp;리스트</button>
                 </div>
             </div>
               
		</div>
	</section>
</div>


</html>