<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 공지사항 목록 -->
<body th:fragment="pnList">
	<th:block th:if="${#lists.isEmpty(resultList)}">
		<th:block th:if="${totalCnt eq 0}">
		 	<strong class="txt_type4 topic">공지내역이 존재하지 않습니다.</strong>	
		</th:block>
	</th:block>
	<th:block th:unless="${#lists.isEmpty(resultList)}">
	  <th:block th:each="resultList : ${resultList}" >
		 <li th:data="${resultList.pnSq}">
	         <a class="list_item" th:onclick="|fnGetPnDetail(${resultList.pnSq})|">
	         	 <th:block th:if="${resultList.icoNewYn eq'Y'}">
	         	 	<span class="ico_new">N</span>
	         	 </th:block>
	             <strong class="txt_type4 topic" th:text="${resultList.title}"></strong>
	             <span class="txt_type4 date" th:text="${resultList.regDttmFmt}"></span>
	         </a>
	     </li>
	  </th:block>
	  <th:block th:if="${hasNext eq true}">
	  <div class="row mgt20">
	     <div class="col-md-12">
	         <button id="btnPnMore" class="btn btn-more btn-lg w100p"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	     </div>
 	  </div>
 	  </th:block>
	</th:block>	
</body>


<!-- 공지사항 상세정보(Ajax) -->
<body th:fragment="pnDetail">
	<div class="row">
	    <div class="col-md-12">
	        <div class="list_view mgt20">
	            <div class="bbs_info">
	                <h3 class="topic">
	                    <span class="ico_notice">공지</span>
	                    <strong class="txt_type5" th:text="${result.title}"></strong>
	                </h3>
	                <div class="bbs_addon">
	                    <span class="date" th:text="${result.regDttmFmt}"></span>
	                </div>
	            </div>
	            <div class="list_content">
	               <div class="txt_type6" th:utext="${#strings.replace(result.ctnt,T(System).getProperty('line.separator'),'&lt;br /&gt;')}"></div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="row mgt30">
	    <div class="col-md-12">
	        <button class="btn btn-more btn-lg w100p" id="btnPnList"><i class="fa fa-bars"></i> &nbsp;리스트</button>
	    </div>
	</div>
</body>


<!-- FAQ 목록 -->
<body th:fragment="faqList">
	<div class="toogle">
        <div class="toggle border-bottom">
            <label>앱 로그인은 어떻게 하나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>환불은 가능한가?</label>
            <div class="toggle-content">
                <p>예! 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>체리 코인을 현금화 전에 가능합니다.</li>
                    <li>환불은 오프라인을 통해서만 가능합니다.</li>
                    <li>이미 기부된 체리 코인은 환불에서 제외 됩니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>블록체인이 뭔가요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>앱을 새로 설치하면 코인은 어떻게 되나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>휴대폰이 바뀌면 인증을 다시 받아야 하나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>연말 정산용 영수증은 어떻게 받을 수 있나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>앱을 새로 설치하면 코인은 어떻게 되나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="toggle border-bottom">
            <label>휴대폰이 바뀌면 인증을 다시 받아야 하나요?</label>
            <div class="toggle-content">
                <p>최초 1회 휴대폰 인증을 통해 로그인 가능합니다.</p>
                <ul class="list-icon check StyleSecondColor">
                    <li>앱을 실행하고 휴대폰 인증을 받습니다.</li>
                    <li>앱을 새로 설치하신 분은 재인증을 받습니다.</li>
                    <li>최초 로그인 후 다음 실행은 자동 로그인 됩니다.</li>
                    <li>앱 잠금을 통해 비밀번호를 설정 할 수 있습니다.</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <div class="row mgt20">
        <div class="col-md-12">
            <button class="btn btn-more btn-lg w100p"><i class="fa fa-plus"></i> &nbsp;더보기</button>
        </div>
    </div> -->
</body>

<!-- /Page Body -->
</html>