<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="default">
<th:block th:if="${grpGb} == '0'"> <!--관리자구분이 플랫폼관리자인 경우 -->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> 플랫폼단체 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a th:href="@{/admin/plt/operGrpAdPag}">
                <span class="menu-text">운영단체 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/plt/adminAdPag}">
                <span class="menu-text">관리자 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/plt/plfAdminAdPag}">
                <span class="menu-text">플랫폼단체관리자 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/plt/codeAdPag}">
                <span class="menu-text">공통코드 관리</span>
            </a>
        </li>
        <li>
            <a href="#" class="menu-dropdown">
                <span class="menu-text">
                    	외부IF연계 조회
                </span>
                <i class="menu-expand"></i>
            </a>
            <ul class="submenu">
                <li>
                    <a href="font-awesome.html">
                        <i class="menu-icon fa fa-rocket"></i>
                        <span class="menu-text">지갑주소 내역조회</span>
                    </a>
                </li>
                <li>
                    <a href="glyph-icons.html">
                        <i class="menu-icon glyphicon glyphicon-stats"></i>
                        <span class="menu-text">토큰전송 내역조회</span>
                    </a>
                </li>
                <li>
                    <a href="typicon.html">
                        <i class="menu-icon typcn typcn-location-outline"></i>
                        <span class="menu-text">빌링인증 내역조회</span>
                    </a>
                </li>
                <li>
                    <a href="weather-icons.html">
                        <i class="menu-icon wi wi-hot"></i>
                        <span class="menu-text">충전결제 내역조회</span>
                    </a>
                </li>
                <li>
                    <a href="weather-icons.html">
                        <i class="menu-icon wi wi-hot"></i>
                        <span class="menu-text">본인인증 내역조회</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</li>
</th:block>
<th:block th:if="${grpGb} == '0' or ${grpGb} == '1' "> <!--관리자구분이 플랫폼관리자, 운영관리자 -->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> 운영단체 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a th:href="@{/admin/orp/operAdminAdPag}">
                <span class="menu-text">운영단체관리자 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orp/mrchGrpAdPag}">
                <span class="menu-text">가맹단체 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orp/dntPrsnAdPag}">
                <span class="menu-text">기부자 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orp/operPnAdPag}">
                <span class="menu-text">공지사항 관리</span>
            </a>
        </li>
        <li>
            <a href="elements.html">
                <span class="menu-text">빌링키인증 관리</span>
            </a>
        </li>
        <li>
            <a href="elements.html">
                <span class="menu-text">본인인증 관리</span>
            </a>
        </li>
        <li>
            <a href="elements.html">
                <span class="menu-text">결제충전 내역관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orp/sttlLstAdPag}">
                <span class="menu-text">정산요청 내역관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/orp/sttlFiatAdPag}">
                <span class="menu-text">FIAT정산 내역관리</span>
            </a>
        </li>
    </ul>
</li>
</th:block>
<th:block th:if="${grpGb} == '0' or ${grpGb} == '1' or ${grpGb} == '2' "> <!--관리자구분이 플랫폼, 운영고나리자, 가맹관리자 -->
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text"> 가맹단체 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li>
            <a th:href="@{/admin/mnch/mrchAdminAdPag}">
                <span class="menu-text">가맹단체관리자 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/cmpInfoAdPag}">
                <span class="menu-text">캠페인 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/cmpImgAdPag}">
                <span class="menu-text">켐페인 이미지 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/cmpCostAdPag}">
                <span class="menu-text">캠페인비용 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/cmpNewsAdPag}">
                <span class="menu-text">캠페인소식 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/fxprDntnAdPag}">
                <span class="menu-text">정기기부 관리</span>
            </a>
        </li>
        <li>
            <a th:href="@{/admin/mnch/dntnHistoryPag}">
                <span class="menu-text">기부이력 내역관리</span>
            </a>
        </li>
    </ul>
</li>
</th:block>
</body>
</html>