<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head th:replace="fragments/config :: configFragment"></head>
	<body>
		<script type="application/javascript" th:inline="javascript">
			$(function () { //웹문서가 로딩되면 실행
				fnCmmMenu();
			});
			
			//CmpCostAd 조회결과 리스트
		    function fnCmmMenu() {
		    	
		    	goAjax("/admin/cmm/menuAjax", "POST", false, {}, fnCmmMenuCallBack);
		        
		        function fnCmmMenuCallBack(data) {
		            $("#cmmMenuId").html(data); //리스트페이지 끼워넣기
		            
		            var pathName = $(location).attr('pathname'); 
		        	var $menuTag = $(".sidebar-menu [href='"+pathName+"']").parent("li");
		        	var $groupTag = $menuTag.parent("ul").parent("li");
		        	
		        	if($groupTag.length == 0){
		        		$(".menuGroup").hide();
		        		return;
		        	}
		        	$(".menuName").text($("span", $menuTag).text());
		        	$(".menuGroup").text($("span:first", $groupTag).text()).show();
		        	$groupTag.attr("class","active open");
		        	$menuTag.attr("class","active").css("display", "block");
		        }
		    }
		</script>
		<!-- Loading Container -->
		<div class="loading-container">
			<div class="loader"></div>
		</div>
		<div th:replace="fragments/header :: hederFragment"></div>
		<!-- Main Container -->
	    <div class="main-container container-fluid">
	        <!-- Page Container -->
	        <div class="page-container">
	            <!-- Page Sidebar -->
	            <div class="page-sidebar" id="sidebar">
	                <!-- Page Sidebar Header-->
	                <!-- <div class="sidebar-header-wrapper">
	                    <input type="text" class="searchinput" />
	                    <i class="searchicon fa fa-search"></i>
	                    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
	                </div> -->
	                <!-- /Page Sidebar Header -->
	                <!-- Sidebar Menu -->
	                <ul class="nav sidebar-menu" id="cmmMenuId">
	                </ul>
	                <!-- /Sidebar Menu -->
	            </div>
	            <!-- /Page Sidebar -->
	            
	            <!-- Page Content -->
	            <div class="page-content">
	                <!-- Page Breadcrumb -->
	                <div class="page-breadcrumbs">
	                    <ul class="breadcrumb">
	                        <li>
	                            <i class="fa fa-home"></i>
	                            <a th:href="@{/}">Home</a>
	                        </li>
	                        <li class="menuGroup">
	                            Elements
	                        </li>
	                        <li class="active menuName">Basic Elements</li>
	                    </ul>
	                </div>
	                <!-- /Page Breadcrumb -->
	                <!-- Page Header -->
	                <div class="page-header position-relative">
	                    <div class="header-title">
	                        <h1 class="menuName">
	                            INDEX
	                        </h1>
	                    </div>
	                    <!--Header Buttons-->
	                    <div class="header-buttons">
	                        <a class="sidebar-toggler" href="#" title="넓게보기">
	                            <i class="fa fa-arrows-h"></i>
	                        </a>
	                        <a class="refresh" id="refresh-toggler" href="#"  title="새로고침">
	                            <i class="glyphicon glyphicon-refresh"></i>
	                        </a>
	                        <a class="fullscreen" id="fullscreen-toggler" href="#" title="꽉찬화면">
	                            <i class="glyphicon glyphicon-fullscreen"></i>
	                        </a>
	                    </div>
	                    <!--Header Buttons End-->
	                </div>
	                <!-- /Page Header -->
	                <div class="page-body" layout:fragment="content"></div>
	            </div>
	            <!-- /Page Content -->
	        </div>
	        <!-- /Page Container -->
	        <!-- Main Container -->
	
	    </div>
    
		<!--Basic Scripts-->
	    <script src="/assets/js/jquery.min.js"></script>
	    <script src="/assets/js/bootstrap.min.js"></script>
	    <script src="/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="/assets/js/datetime/bootstrap-datepicker.js"></script>
	
	    <!--Beyond Scripts-->
	    <script src="/assets/js/beyond.min.js"></script>
	    <!--Page Related Scripts-->
	</body>
</html>