<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="dntnLst">
	<th:block th:if="${existYn == true}">
		<li class="isotope-item col-md-12" th:value="${dntnDft.cmpSq}">
			<!-- item -->
			<div class="alert alert-danger text-center pointer">
				<i class="fa fa-heart appear-animation pull-left tada animation-visible" data-animation="tada" style="animation-iteration-count: infinite;"></i>
				<span class="font600" th:text="${dntnDft.mrchGrpNm}"></span> 정기/일시 기부하기
			</div>
		</li>
	</th:block>

	<th:block th:if="${#lists.isEmpty(dntnLst)}">
		<li class="isotope-item col-md-12">
			<p class="no-data">등록된 기부 캠페인이 없습니다.</p>
		</li>
	</th:block>

	<th:block th:unless="${#lists.isEmpty(dntnLst)}">
		<th:block th:each="dntnLst : ${dntnLst}">
			<li class="isotope-item col-md-4" th:value="${dntnLst.cmpSq}">
				<a>
					<div class="item-box">
						<div class="col-md-12 col-xs-3 nopadding">
							<figure>
								<div class="d-day" th:text="${dntnLst.dnmrKnVal}"></div>
								<img class="img-responsive" th:src="${dntnLst.cmpImg}" th:alt="${dntnLst.cmpNm}">
							</figure>
						</div>
						<div class="col-md-12 col-xs-9 nopadding">
							<div class="item-box-desc">
								<span th:text="${dntnLst.mrchGrpNm}"></span>
								<h4 th:text="${dntnLst.cmpNm}"></h4>
								<div class="progress-bars mgt25" th:inline="text" th:unless="${dntnLst.dnmrKn eq '02'}">
									<div class="progress">
										<script type="application/javascript" th:inline="javascript">
									    /*<![CDATA[*/
									   		var pgr = [[ ${dntnLst.pctTokn} ]]; pgr = (pgr>100) ? "100" : pgr;
									     		$("#pgrBar" + /*[[ ${dntnLst.no} ]]*/).attr('data-appear-progress-animation', pgr+'%');
									     		
									     		if(pgr == 100){
									     			$("#pgrBar" + /*[[ ${dntnLst.no} ]]*/).attr('class', 'progress-bar progress-bar-success');
									     		}_animate();
									    /*]]>*/
										</script>
										<div class="progress-bar progress-bar-primary" th:id="'pgrBar'+${dntnLst.no}">
											<span class="progress-bar-tooltip" th:text="${dntnLst.pctTokn} + '%'"></span>
										</div>
									</div>
									<div class="progress-label">
										<span> 
											<strong><th:block th:text="${#numbers.formatInteger(dntnLst.dnmrTokn,0,'COMMA')}+'c'"></strong>
											<th:block th:text="${#numbers.formatInteger(dntnLst.trgtTokn,0,'COMMA')}+'c'">
										</span>
									</div>
								</div>
								<div class="row text-center countTo" th:if="${dntnLst.dnmrKn eq '02'}">
									<div class="col-md-12 text-right">
										<span>참여자수 / </span> 
										<strong th:data-to="${dntnLst.ptcpCnt}" th:text="${#numbers.formatInteger(dntnLst.ptcpCnt,0,'COMMA')}"></strong>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
			</li>
		</th:block>
	</th:block>

	<script type="application/javascript" th:inline="javascript">
		if(/*[[${hasNext}]]*/ == true){
			$("#divAddBtn").show();
		}else{
			$("#divAddBtn").hide();
		}
			
		$(function (){
			//기부상세 페이지 이동
			$('.isotope-item.col-md-4').click(
				function(){
					var cmpSq = $(this).attr('value');
					fnMoveDntnDtl(cmpSq);
			});
			$('.isotope-item.col-md-12').click(
				function(){
					var cmpSq = $(this).attr('value');
					fnMoveDntnIns(cmpSq);
			});
		});
	</script>
</body>
</html>