<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="srchLst">
	<div class="col-md-12">
		<th:block th:if="${#lists.isEmpty(srchLst)}">
			<div class="row mgt10">
		        <div class="col-md-12">
		            <div class="white-row box-shadow mgb10">
		                <p class="text-center mgt20">최근 검색 내용이 없습니다.</p>
		            </div>
		        </div>
		    </div>
		</th:block>
		
		<th:block th:unless="${#lists.isEmpty(srchLst)}">
			<div class="white-row box-shadow mgb10">
				<label>최근 검색</label>

				<div class="row">
					<div class="col-md-12">
						<ul class="list_bbs3">
							<th:block th:each="srchLst : ${srchLst}">
								<li class="list_item">
									<p class="txt_type4 topic" th:value="${srchLst.srchKey}">
										<i class="icon-magnifier"></i>
										<a th:text="${srchLst.srchKey}"></a> 
										<span class="pull-right mgl10" th:value="${srchLst.rcntSrchSq}"><i class="icon-delete-1-1"></i></span>
										<span class="pull-right" th:text="${srchLst.regDttm}"></span>
									</p>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</th:block>
	</div>

	<script type="application/javascript" th:inline="javascript">
	$(function (){
		$('.list_item').children('p').click(function(){
			var srchKey = $(this).attr('value');
			console.log(srchKey);
			fnInsSrch(srchKey);
		});
		
		//x버튼 클릭(삭제)
		$('.mgl10').click(function(){
			var rcntSrchSq = $(this).attr('value');
			fnDelSrch(rcntSrchSq);				
		});
	});
	</script>
</body>
</html>