<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">

	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var isSearch = false;
		$(function () { //웹문서가 로딩되면 실행
			fnGetDntPrsnAdList(); //OperAdminAd 리스트
			
			$("#btnSearch").click(function () { //조회(검색)버튼 클릭
	            fnGetDntPrsnAdList();
	        });
			
	    });
		
	    //OperAdminAd 조회결과 리스트
	    function fnGetDntPrsnAdList() {
	    	
	    	goAjax("/admin/orp/selectDntPrsnAdListAjax", "POST", false, $("#formSearch").serialize(), fnGetDntPrsnAdListCallBack);
	        
	        function fnGetDntPrsnAdListCallBack(data) {
	            $("#page-ajax").html(data); //리스트페이지 끼워넣기
	            isSearch = true;
	            
	            fnMakePaging($("#pageNo").val(), $("#countPage").val(), $("#spanTotalCnt").text(), "paging");
	            $("#paging li:not([class='disabled'])").click(function () {
	                var clickPage = $("a", this).attr("name"); //클릭한 페이지번호 가져오기
	                $("#pageNo").val(clickPage); //클릭한 페이지로 재설정 후
	                fnGetDntPrsnAdList(); //다시 검색폼으로 조회(ajax)
	            });
	        }
	    }
	    
	    function fnDetail() {
	    	goAjax("/admin/orp/selectDntPrsn", "POST", false, $("#form1").serialize(), fnGetDntPrsnCallBack);
			function fnGetDntPrsnCallBack(data) {
				$("#myModal3").modal('show');
				$("#oprGrpNm", document.form1).val(data.result.oprGrpNm);
				$("#cnrNm", document.form1).val(data.result.cnrNm);
				$("#nickNm", document.form1).val(data.result.nickNm);
				$("#prfImg", document.form1).attr("src", data.result.prfImg);
				$("#trmlId", document.form1).val(data.result.trmlId);
				$("#hpno", document.form1).val(data.result.hpno);
				$("#mailAddr", document.form1).val(data.result.mailAddr);
				$("#wltAddr", document.form1).val(data.result.wltAddr);
			}
	    }
	    /*]]>*/
	</script>

	<!-- 검색조건3 //-->
	<form name="formSearch" id="formSearch">
	<input type="hidden" name="pageNo" id="pageNo" value="1"/>							<!--pageNo-->
	<input type="hidden" name="countPage" id="countPage" value="10"/>					<!--화면 조회 건수-->
	<input type="hidden" name="orderByColumn" id="orderByColumn" value="LST_CH_DTTM"/>	<!--조회필드id-->
    <input type="hidden" name="ascDesc" id="ascDesc" value="desc"/>						<!--정렬 순서-->
	<div class="ibox-content padding-5">
	    <table class="table-condensed w100p">
	        <tbody>
	            <tr>
	                <td class="w90p">
	                	<th:block th:if="${grpLv} == '01' and ${grpGb} == '0'"> <!-- 관리자레벨이 01 (최상위)인 경우, 관리자구분이 플랫폼관리자인 경우 -->
		                	<div class="col-sm-4" >
		                		<div class="form-group">
						            <label for="lgnId">운영단체</label>
						            <select name="oprGrpId" class="form-control input-sm">
						            	<option value="">전체</option>
	                                    <th:block th:unless="${#lists.isEmpty(selectResultList)}">
											<th:block th:each="selectResultList : ${selectResultList}" >
												<option th:value="${selectResultList.oprGrpId}" th:text="${selectResultList.oprGrpNm}"></option>
											</th:block>	                                    
	                                    </th:block>
	                                </select>
						        </div>
							</div>
						</th:block>
						<div class="col-sm-4" >
					    	<div class="form-group">
					            <label for="cnrNm">기부자명</label>
					            <input type="text" class="form-control input" id="cnrNm" name="cnrNm"/>
					            <input type="text" name="tmp" style="display:none"/>
					        </div>
					    </div>
	                </td>
	                <td class="w10p bordered-left-1 bordered-lightgray text-align-center">
	                    <button class="btn btn-info" type="button" id="btnSearch" name="btnSearch"><i class="fa fa-search"></i>&nbsp;&nbsp;검색</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	</form>
	<div class="row">
	    <div class="col-lg-12 col-sm-12 col-xs-12">
	        <div class="widget mgb10">
	            <div class="widget-header with-footer">
	                <span class="widget-caption">기부자 목록</span>
	                <div class="widget-buttons">
	                    <a href="#" data-toggle="maximize">
	                        <i class="fa fa-expand"></i>
	                    </a>
	                    <a href="#" data-toggle="collapse">
	                        <i class="fa fa-minus"></i>
	                    </a>
	                </div>
	            </div>
	            <div id="page-ajax" class="page-ajax" th:include="admin/orp/dntPrsnAdListAjax :: default"></div>
	        </div>
	    </div>
	</div>
	
	<div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
	    <div class="modal-dialog w800">
	        <div class="modal-content animated bounceInDown">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	                <h4 class="modal-title">기부자 상세</h4>
	            </div>
	            <div class="modal-body">
	                <div class="ibox-content">
	                    <form class="form-horizontal" id="form1" name="form1">
	                    	<input type="hidden" name="cnrSq" id="cnrSq"/>
	                        <div class="form-group"><label class="col-lg-3 control-label">운영단체</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="oprGrpNm" name="oprGrpNm" disabled="disabled"></div>
	                        </div>
	                        <div class="form-group"><label class="col-lg-3 control-label">기부자</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="cnrNm" name="cnrNm" disabled="disabled"></div>
	                        </div>
	                        <div class="form-group"><label class="col-lg-3 control-label">닉네임</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="nickNm" name="nickNm" disabled="disabled"></div>
	                        </div>
	                        <div class="form-group"><label class="col-lg-3 control-label">프로필이미지</label>
	                            <div class="col-lg-9" ><img id="prfImg" src="" height="250" width="250" /></div>
	                        </div>
	                        <!-- <div class="form-group"><label class="col-lg-3 control-label">단말기ID</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="trmlId" name="trmlId" disabled="disabled"></div>
	                        </div> -->
	                        <div class="form-group"><label class="col-lg-3 control-label">휴대전화번호</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="hpno" name="hpno" disabled="disabled"></div>
	                        </div>
	                        <div class="form-group"><label class="col-lg-3 control-label">메일주소</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="mailAddr" name="mailAddr" disabled="disabled"></div>
	                        </div>
	                        <div class="form-group"><label class="col-lg-3 control-label">지갑주소</label>
	                            <div class="col-lg-9" ><input type="text"  class="form-control input-sm" id="wltAddr" name="wltAddr" disabled="disabled"></div>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
<!-- /Page Body -->
</html>