<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="default">   
<div class="widget-body">
	<div class="listinfo mgt20" style="color:#d73d32">
        <i class="fa fa-info-circle"></i>
        &nbsp;총 <span id="spanTotalCnt" th:text="${totalCnt==null?0:totalCnt}"></span> 개
    </div>
    <div class="flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content bordered-orange">
                <tr>
                    <th class="text-center">운영단체<i class="fa"></i></th>
					<th class="text-center">가맹단체<i class="fa"></i></th>
					<th class="text-center">메일주소<i class="fa"></i></th>
					<th class="text-center">정기결제일<i class="fa"></i></th>
					<th class="text-center">대표전화번호<i class="fa"></i></th>
					<th class="text-center">FAX번호<i class="fa"></i></th>
					<th class="text-center">은행<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<tr>
					<td colspan="7" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over" th:oprGrpId="${resultList.oprGrpId}"   th:mrchGrpId="${resultList.mrchGrpId}"
											   th:mrchGrpNm="${resultList.mrchGrpNm}" th:mailAddr="${resultList.mailAddr}"
											   th:wltAddr="${resultList.wltAddr}"     th:fxprStdd="${resultList.fxprStdd}"
											   th:rprsNum="${resultList.rprsNum}"     th:faxNum="${resultList.faxNum}"
											   th:bnkAcct="${resultList.bnkAcct}"     th:bnkCd="${resultList.bnkCd}"
											   th:mrchGrpImg="${resultList.mrchGrpImg}" th:crgAdminSq="${resultList.crgAdminSq}">
						<td class="text-center" th:text="${resultList.oprGrpNm}"></td>
						<td class="text-center" th:text="${resultList.mrchGrpNm}"></td>
						<td class="text-center" th:text="${resultList.mailAddr}"></td>
						<td class="text-center" th:inline="text">[[${resultList.fxprStdd}]]일</td>
						<td class="text-center" th:text="${resultList.rprsNum}"></td>
						<td class="text-center" th:text="${resultList.faxNum}"></td>
						<td class="text-center" th:inline="text">[[${resultList.bnkNm}]] [[${resultList.bnkAcct}]]</td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    $('.list-mouse-over .row-mouse-over').click(
        function(){
            $('.list-mouse-over').find('tr').each(function(){
                $(this).removeClass('selectedRow');
                $(this).css('background-color', $(this).data('bgColor'));
            });
            var $this = $(this);
            $this.addClass('selectedRow');
            $this.css('background-color', '#cde7ff');
            $("#oprGrpId", document.deleteData).val($(this).attr('oprGrpId'));
		    $("#mrchGrpNm", document.deleteData).val($(this).attr('mrchGrpNm'));
		    $("#mrchGrpId", document.deleteData).val($(this).attr('mrchGrpId'));
		    $("#mrchGrpIdTmp", document.deleteData).val($(this).attr('mrchGrpId'));
		    $("#wltAddr", document.deleteData).val($(this).attr('wltAddr'));
		    $("#rprsNum", document.deleteData).val($(this).attr('rprsNum'));
		    $("#bnkAcct", document.deleteData).val($(this).attr('bnkAcct'));
		    $("#mrchGrpImg", document.deleteData).val($(this).attr('mrchGrpImg'));
		    $("#targetImg", document.deleteData).attr( "src", $(this).attr('mrchGrpImg'));
		    $("#mailAddr", document.deleteData).val($(this).attr('mailAddr'));
		    $("#fxprStdd", document.deleteData).val($(this).attr('fxprStdd'));
		    $("#faxNum", document.deleteData).val($(this).attr('faxNum'));
		    $("#bnkCd", document.deleteData).val($(this).attr('bnkCd'));
		    $("#crgAdminSq", document.deleteData).val($(this).attr('crgAdminSq'));
		    
	        $("#myModal3").modal('show');
            
        }
    );

    /*]]>*/
</script>
<!-- /Page Body -->
</html>