<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">

	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var isSearch = false;
		$(function () { //웹문서가 로딩되면 실행
			setDate('#sttlDttmSt', 90);
			setDate('#sttlDttmEd');
			
			fnOnlyNumber();
			fnGetSttlFiatAdList(); //SttlFiatAd 리스트
			
			$("#btnSearch").click(function () { //조회(검색)버튼 클릭
	            fnGetSttlFiatAdList();
	        });
	    });

		//SttlFiatAd 조회결과 리스트
	    function fnGetSttlFiatAdList() {
	    	
	    	goAjax("/admin/orp/selectSttlFiatAdListAjax", "POST", false, $("#formSearch").serialize(), fnGetSttlFiatAdListCallBack);
	        
	        function fnGetSttlFiatAdListCallBack(data) {
	            $("#page-ajax").html(data); //리스트페이지 끼워넣기
	            isSearch = true;
	            
	            fnMakePaging($("#pageNo").val(), $("#countPage").val(), $("#spanTotalCnt").text(), "paging");
	            $("#paging li:not([class='disabled'])").click(function () {
	                var clickPage = $("a", this).attr("name"); //클릭한 페이지번호 가져오기
	                $("#pageNo").val(clickPage); //클릭한 페이지로 재설정 후
	                fnGetSttlFiatAdList(); //다시 검색폼으로 조회(ajax)
	            });
	        }
	    }
	    
	  	//가맹단체 조회
	    function fnSelectMrchGrp(targetForm, procGb) {
	         goAjax("/admin/mnch/selectMrchGrp", "POST", false, $("#"+targetForm).serialize(), fnGetMrchListCallBack);
	         function fnGetMrchListCallBack(data) {
	        	 var viewWord = "";
	        	 if( "srch" == procGb ) {
	        		 viewWord = "전체";
	        	 }else  {
	        		 viewWord = "선택하세요.";
	        		 
	        		 //캠페인 정보 초기화
		        	 $("#inCmpSq", $("#"+targetForm)).find("option").remove();
		             $("#inCmpSq", $("#"+targetForm)).append("<option value=''>"+viewWord+"</option>");
	        	 }
	        	 
	        	 $("#mrchGrpId", $("#"+targetForm)).find("option").remove();
	             if(data.list.length==0){
	                 $("#mrchGrpId", $("#"+targetForm)).append("<option value=''>"+viewWord+"</option>");
	                 return;
	             }
	             
	             $("#mrchGrpId", $("#"+targetForm)).append("<option value=''>"+viewWord+"</option>");
	             $(data.list).each(function (){
	            	 $("#mrchGrpId", $("#"+targetForm)).append("<option value='"+this.mrchGrpId+"'>"+this.mrchGrpNm+"</option>");
	             });
	         }
	    }
	    /*]]>*/
	</script>

	<!-- 검색조건3 //-->
	<form name="formSearch" id="formSearch">
	<input type="hidden" name="pageNo" id="pageNo" value="1"/>							<!--pageNo-->
	<input type="hidden" name="countPage" id="countPage" value="10"/>					<!--화면 조회 건수-->
	<input type="hidden" name="orderByColumn" id="orderByColumn" value="LST_CH_DTTM"/>	<!--조회필드id-->
    <input type="hidden" name="ascDesc" id="ascDesc" value="desc"/>						<!--정렬 순서-->
	<div class="ibox-content padding-5">
	    <table class="table-condensed w100p">
	        <tbody>
	            <tr>
	                <td class="w90p">
	                	<th:block th:if="${grpLv} == '01' and ${grpGb} == '0'"> <!-- 관리자레벨이 01 (최상위)인 경우, 관리자구분이 플랫폼관리자인 경우 -->
		                	<div class="col-sm-4" >
		                		<div class="form-group">
						            <label for="lgnId">운영단체</label>
						            <select name="oprGrpId" class="form-control input-sm" onchange="fnSelectMrchGrp('formSearch', 'srch');">
						            	<option value="">전체</option>
	                                    <th:block th:unless="${#lists.isEmpty(selectResultList)}">
											<th:block th:each="selectResultList : ${selectResultList}" >
												<option th:value="${selectResultList.oprGrpId}" th:text="${selectResultList.oprGrpNm}"></option>
											</th:block>	                                    
	                                    </th:block>
	                                </select>
						        </div>
							</div>
						</th:block>
						<th:block th:if="${grpLv} == '01' and (${grpGb} == '0' or ${grpGb} == '1') "> <!-- 관리자레벨이 01 (최상위)인 경우, 관리자구분이 플랫폼관리자, 운영관리자 인 경우 -->
							<div class="col-sm-4" >
		                		<div class="form-group">
						            <label for="lgnId">가맹단체</label>
						            <select name="mrchGrpId" id="mrchGrpId" class="form-control input-sm">
						            	<option value="">전체</option>
	                                    <th:block th:unless="${#lists.isEmpty(selectMrchGrpAd)}">
											<th:block th:each="selectMrchGrpAd : ${selectMrchGrpAd}" >
												<option th:value="${selectMrchGrpAd.mrchGrpId}" th:text="${selectMrchGrpAd.mrchGrpNm}"></option>
											</th:block>	                                    
	                                    </th:block>
	                                </select>
						        </div>
							</div>
						</th:block>	
						<div class="col-sm-4" >
					    	<div class="form-group">
					            <label for="mrchGrpNm">정산일자</label>
					            <div>
	                                <div class="col-sm-12 form-inline" style="padding: 0px">
		                               <div class="input-group">
		                                 <div class="input-group">
		                                     <input class="form-control date-picker input-sm w90 fmtDt" maxlength="10" id="sttlDttmSt" name="sttlDttmSt" type="text" data-date-format="yyyy-mm-dd"/>
		                                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                                 </div>
		                                 <span class="space text-center mgt5 mgl7 mgr7">~</span>
		                                 <div class="input-group">
		                                     <input class="form-control date-picker input-sm w90 fmtDt" maxlength="10" id="sttlDttmEd" name="sttlDttmEd" type="text" data-date-format="yyyy-mm-dd"/>
		                                     <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		                                 </div>
		                               </div>
	                                </div>
	                            </div>
					        </div>
					    </div>
	                </td>
	                <td class="w10p bordered-left-1 bordered-lightgray text-align-center">
	                    <button class="btn btn-info" type="button" id="btnSearch" name="btnSearch"><i class="fa fa-search"></i>&nbsp;&nbsp;검색</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	</form>
	<div class="row">
	    <div class="col-lg-12 col-sm-12 col-xs-12">
	        <div class="widget mgb10">
	            <div class="widget-header with-footer">
	                <span class="widget-caption">FIAT정산 내역관리</span>
	                <div class="widget-buttons">
	                    <a href="#" data-toggle="maximize">
	                        <i class="fa fa-expand"></i>
	                    </a>
	                    <a href="#" data-toggle="collapse">
	                        <i class="fa fa-minus"></i>
	                    </a>
	                </div>
	            </div>
	            <div id="page-ajax" class="page-ajax" th:include="admin/orp/sttlFiatAdListAjax :: default"></div>
	        </div>
	    </div>
	</div>
	
</div>
<!-- /Page Body -->
</html>