<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />
<title>Welcome to Cherry!</title>
<style>
    body {
        width: 50em;
        margin: 30px 30px;
        font-family: Tahoma, Verdana, Arial, sans-serif;
		font-size: 20px;
        /* background-image: url("assets/images/web/intro_bg.png"); */
    }

    @media screen and (max-width:460px) {
		body { font-size: 11px; }
    }
</style>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<script type="text/javascript" src="/assets/plugins/jquery-2.2.3.min.js"></script>
	<script src="/assets/js/caas.app.js"></script>

<script>
	$(function() {
//		var href = $("#apkDown").attr("href");
//		console.log("(KGC) href=" + href);
	});
</script>
</head>
<body>

	<h1>Welcome to Cherry!</h1>
	<img src="/assets/images/app/intro_logo.png" style="height: 250px;">
	<p style="height: 20px;">
	<p>웹으로 접근할 수 없는 요청입니다. 아래 앱 설치가 필요합니다.</p>
	<p style="display: none">[<span th:text="${urlType}"></span>, <span th:text="${oprGrpId}"></span>, <span th:text="${redUrl}">redUrl</span>]</p>
	<h2 th:if="${oprGrpId eq 'WTIT'}"><a href="https://cherry.e4net.net/public/download/CherryAndroid_WTIT.apk">Download Cherry For Android (WTIT)</a></h2>
	<h2 th:if="${oprGrpId eq 'e4net'}"><a href="https://cherry.e4net.net/public/download/CherryAndroid.apk">Download Cherry For Android (E4Net)</a></h2>
	<br/>
	<h2>Thank you for using cherry.</h2>
</body>
</html>
