@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");
@import url('width.css');

.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}

.btn-page{ clear:both !important;  position:relative;vertical-align:middle; text-align:center !important; margin-top:0;}

/*20151016 수정*/
.down-sorted {margin-left:10px; cursor:pointer; padding:0 0 2px; box-sizing:border-box !important; vertical-align:middle;}
.up-sorted {margin-left:10px; cursor:pointer; padding:1px 0 0 ; box-sizing:border-box !important; vertical-align:middle;}
.un-sorted {margin-left:10px; cursor:pointer; padding:0 0 1px; box-sizing:border-box !important; vertical-align:middle;}

.table-bordered tfoot { color:#F60; }
.table-bordered tfoot th,.table-bordered tfoot td{ background:#efefef; font-weight:600 !important; border-top:2px solid #999 !important;}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 20px;
  border-image: none;
  margin-bottom:20px;
  -webkit-box-shadow:1px 0 5px 1px rgba(0,0,0,.3);-moz-box-shadow:1px 0 5px 1px rgba(0,0,0,.3);box-shadow:1px 0 5px 1px rgba(0,0,0,.3);
}

.btn-right{position:relative;vertical-align:middle; text-align:right !important; margin-bottom:5px; z-index:10; width:auto !important; }
.btn-right a{color:#999; }
.cursor { cursor:pointer;}

/**********20150827 추가************/
.logo { position: relative; height:40px; background:#7ee7ff; border-top:3px solid #1c84c6; border-bottom:1px solid #444; margin-right:-15px;margin-left:-15px; padding:0 0 0 15px;}
.logo span{ float:right; margin:10px 30px 0 0; font-size:0.8em; color:#1586b5;}
.serch { position:relative; clear:both !important; float:right; margin:-5px 15px 0 0;}

.overflow-auto { overflow:auto !important;}
.scrollauto-table { overflow:auto !important; width: 100%;}
.scrollauto-table .table{width:100% !important; min-width:1280px !important; border-bottom: 1px solid #bbb; border-top: 1px solid #bbb;}
.scrollauto-table .table thead th {padding: 15px 20px; color: #5b738d}
.scrollauto-table .table tfoot {background-color: #e5e5e5; color:#ff4040; font-weight: 600;}
.scrollauto-table .table td {padding: 20px;}
.scroll-x { overflow-y:hidden; overflow-x:scroll !important; border-right:1px solid #ddd; border-left:none; }

.hr-line-dashed {
  border-top: 1px dashed #dedede;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 0 0 10px;
  clear:both;
  position:relative;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox h4 {font-size:1.15em; font-weight:600 !important; color:#039;}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #cfdff2;
  border-color: #818181 #999  transparent;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 1px 0;
  color:#222222;
  margin-bottom: 0;
  padding: 10px 15px 5px;
  min-height: 40px;
}

.d-ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff;
  border-color: #999;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 1px 0;
  color:#555;
  margin-bottom: 0;
  padding: 10px 15px 5px;
  min-height: 40px;
}
.ibox-title h5{
  font-size:1.25em !important;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 20px;
  border-color: #999;
  border-image: none;
  border-style: solid solid solid;
  border-width: 1px 1px;
  border-radius:2px;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

/* Chat view */
.message-input {
  height: 90px !important;
}
.chat-avatar {
  white: 36px;
  height: 36px;
  float: left;
  margin-right: 10px;
}
.chat-user-name {
  padding: 10px;
}
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}
.chat-user a {
  color: inherit;
}
.chat-view {
  z-index: 20012;
}
.chat-users,
.chat-statistic {
  margin-left: -30px;
}
@media (max-width: 992px) {
  .chat-users,
  .chat-statistic {
    margin-left: 0px;
  }
}
.chat-view .ibox-content {
  padding: 0;
}
.chat-message {
  padding: 10px 20px;
}
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 30px;
  margin-top: 1px;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

.message::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.chat-discussion .chat-message.left .message-date {
  float: right;
}
.chat-discussion .chat-message.right .message-date {
  float: left;
}
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.message-date {
  font-size: 10px;
  color: #888888;
}
.message-content {
  display: block;
}
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 350px;
  overflow-y: auto;
  position:relative;
  border:1px solid #ddd;
}
.chat-users {
  overflow-y: auto;
  height: 400px;
}
.chat-message-form .form-group {
  margin-bottom: 0;
}


/******** chat 오른쪽 정렬 추가 20150831**************/
.message-r {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}

.message-r::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid white;
}

.chat-discussion .chat-message.left .message-r {
  text-align: right;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message-r {
  text-align: right;
  margin-right: 55px;
}

.chat-photo { position:relative;  width:45px; height:45px; overflow:hidden; border-radius:50%; margin:0;}
.chat-photo img{width:100%; height:auto;}
.check {font-size:0; padding:0 !important; box-sizing:border-box; height:13px !important; width:15px !important;}

/*2015.10.08추가*/
.panel-basic {
  border-color: #c6c6c6;
}
.panel-basic > .panel-heading {
  background-color: #f2f2f2;
  border-color: #d3d3d3;
  color:#555;
  font-size:1.15em;
  font-weight:bold;
}
.panel-basic a {
  background-color:transparent;
  color:#555;
}
.panel-basic a:active,.panel-basic a:hover {
  background-color:#f9f9f9 !important; color:#333 !important; font-weight:bold !important;
}
/*2015.10.08추가*/



.panel-primary a,.panel-warning a,.panel-success a,.panel-danger a {
  background-color:#414d5d !important;
}
.panel-primary a:active,.panel-warning a:active,.panel-success a:active,.panel-danger a:active,.panel-primary a:hover,.panel-warning a:hover,.panel-success a:hover,.panel-danger a:hover {
  background-color:#585858 !important; color:#fff !important; font-weight:bold !important;
}

.folder-list li a {
  color: #666666;
  display: block;
  padding: 5px 0;
}
.folder-list li {
  border-bottom: 1px solid #e7eaec;
  display: block;
}
.folder-list li i {
  margin-right: 8px;
  color: #3d4d5d;
}


/* SEARCH PAGE */

.search-form {
  margin-top: 10px;
}
.search-result {
 padding:0 15px;
 box-sizing:border-box;
}

.search-result h2 {
  font-size:1.6em;
  font-weight:600;
}

.search-result h2 span {
  color:#F60;
}

.search-result h3 {
  margin-bottom: 0;
  color: #555555;
  font-size:1.2em;
  font-weight:600;
}
.search-result .search-link {
  color: #006621;
}
.search-result p {
  font-size: 12px;
  margin-top: 5px;
}
.task-list {margin: 5px 0 0;}
.task-list a{color:#0088b5;}
.task-list a:hover {color:#0e438e;}

.hr-line-search {
  border-top: 1px dashed #dedede;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 15px 0;
  clear:both;
  position:relative;
}

 /* 상세보기 스타일 */
.detail {margin:0px;}
.detail table{width:100%;margin:0 0 3px 0;table-layout:fixed;border-collapse:collapse;border-top:1px solid #ccc; font-size:1.0em !important; border-spacing:0; border-collapse:collapse;}
.detail table th,.detail table td{padding:2px 4px !important;border:1px solid #d4d4d4;line-height:1.423em;}
.detail table thead th{color:#444444;text-align:center !important; font-weight:bold; height:30px; background:#f2f2f2;}
.detail table tbody th{padding-left:13px;text-align:center; color:#444444; font-weight:bold; height:30px; background:#f2f2f2;}
.detail table th p,.detail table td p{padding-left:15px;text-align:left;}
.detail table td p.price{margin:0;padding:0;padding-right:10px;text-align:right !important;}
.detail table td{text-align:left;padding-left:5px; padding-right:5px; vertical-align:middle; word-break:break-all;}

.datepicker, .datepicker-dropdown, .dropdown-menu, .datepicker-orient-left, .datepicker-orient-top {z-index:99999999999999999999999999 !important}


 /* Tree 스타일 */
.tree {text-align:left !important;}
.tree i{margin-left:3px !important;}


/* ERROR & LOGIN & LOCKSCREEN*/
.middle-box { background:url(../img/login-bg.png) 30px 50px no-repeat;
  max-width:550px;
  z-index: 100;
  margin:15% auto 0;
  padding:0 50px 80px 200px;
	box-sizing: border-box;
}

.middle-box h3 { font-size:18px; font-weight:600 !important; color:#333 !important; margin:15px 0 0 0; padding:15px 0; line-height: 1.25em;}

.logo-name {
  color: #e6e6e6;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -10px;
  margin: 0px;
}

.logo-name img{
  width:241px; height:75px;
}


#loginbg {background-size:cover !important;}


/***2016-07-21추가**/
.alert-ea1{color:#00518f;background-color:#a0d8f3;border-color:#359ccf; font-size:1.10em; font-weight:normal !important;}
.alert-ea2{color:#399212;background-color:#c3e59e;border-color:#8cc474; font-size:1.10em; font-weight:normal !important;}
.alert-ea3{color:#b96800;background-color:#fff6ca;border-color:#ffce55; font-size:1.10em; font-weight:normal !important;}
.alert-ea4{color:#ac1616;background-color:#f1a299;border-color:#df5138; font-size:1.10em; font-weight:normal !important;}
.pd-none {padding:0 !important;}
.framwork_bg01 { background:url(../img/framwork_bg01.png) 0 0 no-repeat; background-size:100% 100%;}
.framwork_bg02 { background:url(../img/framwork_bg02.png) 0 0 no-repeat; background-size:100% 100%;}
.no_day{background:url(../img/cal_bg.gif); color:#CACACA;}

.fw-content{position:relative;}
.fw-content>.tab-pane{display:none}.fw-content>.active{display:block}

/*애니메이션 실행 시간제어*/
.anitime0-5 {animation-delay:0.5s;}
.anitime01 {animation-delay:1s;}
.anitime1-5 {animation-delay:1.5s;}
.anitime02 {animation-delay:2s;}
.anitime2-5 {animation-delay:2.5s;}
.anitime03 {animation-delay:3s;}
.anitime3-5 {animation-delay:3.5s;}
.anitime04 {animation-delay:4s;}
.anitime4-5 {animation-delay:4.5s;}
.anitime05 {animation-delay:5s;}
.anitime5-5 {animation-delay:5.5s;}
.anitime06 {animation-delay:6s;}
.anitime6-5 {animation-delay:6.5s;}
.anitime07 {animation-delay:7s;}
.anitime7-5 {animation-delay:7.5s;}
.anitime08 {animation-delay:8s;}
.anitime8-5 {animation-delay:8.5s;}
.anitime09 {animation-delay:9s;}
.anitime9-5 {animation-delay:9.5s;}
.anitime10 {animation-delay:10s;}


/**20180118 추가*/
.slash {
	background:url(../img/slash.png);
	background-size:100% 100%;}
.no-border { border:none !important;}
.no-shadow { box-shadow:none !important;}

/**20180705추가**/
@media (max-width: 550px) {
  .header-buttons,.mobi-hide {display:none !important;
  }
}