<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="srchLst">
	<div class="col-md-12">
		<th:block th:if="${#lists.isEmpty(documentLst)}">
			<div class="row mgt10">
		        <div class="col-md-12">
		            <div class="white-row box-shadow mgb10">
		                <p class="text-center mgt20">kakao에서 조회된 검색 내용이 없습니다.</p>
		            </div>
		        </div>
		    </div>
		</th:block>
		
		<th:block th:unless="${#lists.isEmpty(documentLst)}">
			<div class="white-row box-shadow mgb10">
				<label th:inline="text">Kakao 웹문서 검색 / [[${pageNo}]]페이지</label>

				<div class="row">
					<div class="col-md-12">
						<ul class="list_bbs3">
							<th:block th:each="srchLst : ${documentLst}">
								<li class="isotope-item col-md-4" th:value="${srchLst.url}" data-toggle="modal" data-target="#myModal"><!-- item -->
							        <i class="icon-magnifier"></i>
					                <span th:utext="${srchLst.title}"></span>
					                <div th:text="${srchLst.datetime}"></div>
							        <div class="item-box">
							            <div class="item-box-desc" th:utext="${srchLst.contents}"></div>
							        </div>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
		</th:block>
	</div>

	<script type="application/javascript" th:inline="javascript">
	$(function (){
		if(/*[[${hasNext}]]*/ == true){
			$("#divAddBtn").show();
		}else{
			$("#divAddBtn").hide();
		}
		
		$('.isotope-item').click(function(){
			var srchUrl = $(this).attr('value');
			fnGoUrl(srchUrl);
		});
	});
	</script>
</body>
</html>