<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">

	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var isSearch = false;
		$(function () { //웹문서가 로딩되면 실행
			fnGetOperGrpAdList(); //OperGrpAd 리스트
			
			$("#btnSearch").click(function () { //조회(검색)버튼 클릭
	            fnGetOperGrpAdList();
	        });
	    });
		
	    //OperGrpAd 조회결과 리스트
	    function fnGetOperGrpAdList() {
	    	
	    	goAjax("/admin/plt/selectAdminAdListAjax", "POST", false, $("#formSearch").serialize(), fnGetOperGrpAdListCallBack);
	        
	        function fnGetOperGrpAdListCallBack(data) {
	            $("#page-ajax").html(data); //리스트페이지 끼워넣기
	            isSearch = true;
	            
	            fnMakePaging($("#pageNo").val(), $("#countPage").val(), $("#spanTotalCnt").text(), "paging");
	            $("#paging li:not([class='disabled'])").click(function () {
	                var clickPage = $("a", this).attr("name"); //클릭한 페이지번호 가져오기
	                $("#pageNo").val(clickPage); //클릭한 페이지로 재설정 후
	                fnGetOperGrpAdList(); //다시 검색폼으로 조회(ajax)
	            });
	        }
	    }
	    
	 	//가맹단체 조회
	    function fnSelectMrchGrp(targetForm, procGb) {
	         goAjax("/admin/mnch/selectMrchGrp", "POST", false, $("#"+targetForm).serialize(), fnGetMrchListCallBack);
	         function fnGetMrchListCallBack(data) {
	        	 var viewWord = "";
	        	 if( "srch" == procGb ) {
	        		 viewWord = "전체";
	        	 }else  {
	        		 viewWord = "선택하세요.";
	        	 }
	        	 $("#mrchGrpId", $("#"+targetForm)).find("option").remove();
	             if(data.list.length==0){
	                 $("#mrchGrpId", $("#"+targetForm)).append("<option value=''>"+viewWord+"</option>");
	                 return;
	             }
	             $("#mrchGrpId", $("#"+targetForm)).append("<option value=''>"+viewWord+"</option>");
	             $(data.list).each(function (){
	            	 $("#mrchGrpId", $("#"+targetForm)).append("<option value='"+this.mrchGrpId+"'>"+this.mrchGrpNm+"</option>");
	             });
	         }
	    }
	    /*]]>*/
	</script>
	
	<!-- 검색조건3 //-->
	<form name="formSearch" id="formSearch">
	<input type="hidden" name="pageNo" id="pageNo" value="1"/>							<!--pageNo-->
	<input type="hidden" name="countPage" id="countPage" value="10"/>					<!--화면 조회 건수-->
	<input type="hidden" name="orderByColumn" id="orderByColumn" value="LST_CH_DTTM"/>	<!--조회필드id-->
    <input type="hidden" name="ascDesc" id="ascDesc" value="desc"/>						<!--정렬 순서-->
	<div class="ibox-content padding-5">
	    <table class="table-condensed w100p">
	        <tbody>
	            <tr>
	                <td class="w90p">
	                	<div class="col-sm-4" >
	                		<div class="form-group">
					            <label for="lgnId">운영단체</label>
					            <select name="oprGrpId" class="form-control input-sm" onchange="fnSelectMrchGrp('formSearch', 'srch');">
					            	<option value="">전체</option>
                                    <th:block th:unless="${#lists.isEmpty(selectResultList)}">
										<th:block th:each="selectResultList : ${selectResultList}" >
											<option th:value="${selectResultList.oprGrpId}" th:text="${selectResultList.oprGrpNm}"></option>
										</th:block>	                                    
                                    </th:block>
                                </select>
					        </div>
						</div>
						<div class="col-sm-4" >
	                		<div class="form-group">
					            <label for="lgnId">가맹단체</label>
					            <select name="mrchGrpId" id="mrchGrpId" class="form-control input-sm">
					            	<option value="">전체</option>
                                    <th:block th:unless="${#lists.isEmpty(selectMrchGrpAd)}">
										<th:block th:each="selectMrchGrpAd : ${selectMrchGrpAd}" >
											<option th:value="${selectMrchGrpAd.mrchGrpId}" th:text="${selectMrchGrpAd.mrchGrpNm}"></option>
										</th:block>	                                    
                                    </th:block>
                                </select>
					        </div>
						</div>
	                	<div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="grpGb">관리자구분</label>
                                <select name="grpGb" class="form-control input-sm">
                                	<option value="">전체</option>
                                    <option value="0">플랫폼단체관리자</option>
                                    <option value="1">운영단체관리자</option>
                                    <option value="2">가맹단체관리자</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="grpLv">관리자LV</label>
                                <select name="grpLv" class="form-control input-sm">
                                	<option value="">전체</option>
                                    <option value="01">최상위</option>
                                    <option value="02">일반</option>
                                </select>
                            </div>
                        </div>
				        <div class="col-sm-4">
					        <div class="form-group">
					            <label for="lgnId">로그인ID</label>
					            <input type="text" class="form-control input" id="lgnId" name="lgnId"/>
					        </div>
				        </div>
	                </td>
	                <td class="w10p bordered-left-1 bordered-lightgray text-align-center">
	                    <button class="btn btn-info" type="button" id="btnSearch" name="btnSearch"><i class="fa fa-search"></i>&nbsp;&nbsp;검색</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	</form>
	<div class="row">
	    <div class="col-lg-12 col-sm-12 col-xs-12">
	        <div class="widget">
	            <div class="widget-header with-footer">
	                <span class="widget-caption">관리자관리</span>
	                <div class="widget-buttons">
	                    <a href="#" data-toggle="maximize">
	                        <i class="fa fa-expand"></i>
	                    </a>
	                    <a href="#" data-toggle="collapse">
	                        <i class="fa fa-minus"></i>
	                    </a>
	                </div>
	            </div>
	            <div id="page-ajax" class="page-ajax" th:include="admin/plt/adminAdListAjax :: default"></div>
	        </div>
	    </div>
	</div>
</div>
<!-- /Page Body -->
</html>