<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="default">   
<div class="widget-body">
	<div class="listinfo mgt20" style="color:#d73d32">
        <i class="fa fa-info-circle"></i>
        &nbsp;총 <span id="spanTotalCnt" th:text="${totalCnt==null?0:totalCnt}"></span> 개
    </div>
    <div class="flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
        	<colgroup>
      			<col class="w30p"/>
                <col class="w30p"/>
                <col class="w30p"/>
                <col class="w10p"/>
            </colgroup>
            <thead class="flip-content bordered-orange">
                <tr>
					<th class="text-center">코드ID<i class="fa"></i></th>
					<th class="text-center">코드ID명<i class="fa"></i></th>
					<th class="text-center">코드ID설명<i class="fa"></i></th>
					<th class="text-center">사용유무<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<tr>
					<td colspan="4" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over" th:codeId="${resultList.codeId}">
						<td class="text-center" th:text="${resultList.codeId}"></td>
						<td class="text-center" th:text="${resultList.codeIdNm}"></td>
						<td class="text-center" th:text="${resultList.codeIdDc}"></td>
						<td class="text-center" th:text="${resultList.useAt}"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    $('.list-mouse-over .row-mouse-over').click(
        function(){
            $('.list-mouse-over').find('tr').each(function(){
                $(this).removeClass('selectedRow');
                $(this).css('background-color', $(this).data('bgColor'));
            });
            var $this = $(this);
            $this.addClass('selectedRow');
            $this.css('background-color', '#cde7ff');
	        
	        fnDetail($(this).attr("codeId"));
            
        }
    );

    /*]]>*/
</script>
<!-- /Page Body -->
</body>

<body th:fragment="detail">
	<div class="ibox-content">
	    <form class="form-horizontal" id="deleteData" name="deleteData">
	    	<th:block th:each="resultList,index : ${resultList}" >
	    		<th:block th:if="${index.index} == 0">
	         <div class="form-group"><label class="col-lg-3 control-label">코드ID</label>
	             <div class="col-lg-9" >
	             	<input type="text" class="form-control input-sm" id="tmpCodeId" name="tmpCodeId" maxlength="8" disabled="disabled" th:value="${resultList.codeId}">
	             	<input type="hidden" name="codeId" th:value="${resultList.codeId}">
	             </div>
	         </div>
	         <div class="hr-line-dashed"></div>
	         <div class="form-group"><label class="col-lg-3 control-label">코드ID명</label>
	             <div class="col-lg-9"><input type="text" class="form-control input-sm" id="codeIdNm" name="codeIdNm" disabled="disabled" th:value="${resultList.codeIdNm}"></div>
	         </div>
	         <div class="hr-line-dashed"></div>
	         <div class="form-group"><label class="col-lg-3 control-label">코드ID설명</label>
	             <div class="col-lg-9"><input type="text" class="form-control input-sm onlyNumber" id="codeIdDc" name="codeIdDc" disabled="disabled" th:value="${resultList.codeIdDc}"></div>
	         </div>
	         <div class="hr-line-dashed"></div>
	         </th:block>
	        </th:block>
	        
	        <div class="btn-right">
	            <button type="button" class="btn btn-default" onclick="fnAddTr('deleteData');"><i class="fa fa-plus"></i> 추가</button>
	         </div>
	         <div class="flip-scroll hi305 overflow-auto">
	             <table class="table table-bordered table-hover table-condensed flip-content">
	             	<colgroup>
	  		    <col class="w20p"/>
	  		    <col class="w30p"/>
	            <col class="w30p"/>
	            <col class="w20p"/>
	        </colgroup>   
	                 <thead>
	                     <tr>
	                         <th class="text-center">CODE</th>
	                         <th class="text-center">CODE명</th>
	                         <th class="text-center">CODE설명</th>
	                         <th class="text-center">사용여부</th>
	                     </tr>
	                 </thead>
	                 <tbody id="inTableTbodyId">
	                 <th:block th:each="resultList : ${resultList}" >
	                 	<tr class="row-mouse-over">
		<td class="text-center">
			<input type="text" name="inCode" class="form-control input-sm" th:value="${resultList.code}">
		</td>
		<td class="text-center">
			<input type="text" name="inCodeNm" class="form-control input-sm" th:value="${resultList.codeNm}">
		</td>
		<td class="text-center">
			<input type="text" name="inCodeDc" class="form-control input-sm" th:value="${resultList.codeDc}">
		</td>
		<td class="text-center">
			<select name="inUseAt" class="form-control input-sm">
			<th:block th:if="${resultList.useAt} == 'Y'">
	           	<option value="Y" selected="selected">사용</option>
	           	<option value="N">미사용</option>
	           </th:block>
	           <th:block th:unless="${resultList.useAt} == 'Y'">
	           	<option value="Y">사용</option>
	           	<option value="N" selected="selected">미사용</option>
	           </th:block>
	                          </select>
		</td>
	</tr>
	                 </th:block>
	                 </tbody>
	             </table>
	         </div>
	         
	         
	     </form>
	 </div>
</body>
</html>