<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="default">   
<div class="widget-body">
	<div class="listinfo mgt20" style="color:#d73d32">
        <i class="fa fa-info-circle"></i>
        &nbsp;총 <span id="spanTotalCnt" th:text="${totalCnt==null?0:totalCnt}"></span> 개
    </div>
    <div class="flip-scroll">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content bordered-orange">
                <tr>
					<th class="text-center">로그인ID<i class="fa"></i></th>
					<th class="text-center">메일주소<i class="fa"></i></th>
					<th class="text-center">휴대폰전화번호<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<tr>
					<td colspan="3" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over" th:admSq="${resultList.admSq}" th:lgnId="${resultList.lgnId}" th:mailAddr="${resultList.mailAddr}" th:hpno="${resultList.hpno}">
						<td class="text-center" th:text="${resultList.lgnId}"></td>
						<td class="text-center" th:text="${resultList.mailAddr}"></td>
						<td class="text-center" th:text="${resultList.hpno}"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    $('.list-mouse-over .row-mouse-over').click(
        function(){
            $('.list-mouse-over').find('tr').each(function(){
                $(this).removeClass('selectedRow');
                $(this).css('background-color', $(this).data('bgColor'));
            });
            var $this = $(this);
            $this.addClass('selectedRow');
            $this.css('background-color', '#cde7ff');
            $("#admSq",      document.deleteData).val($(this).attr("admSq"));
	        $("#lgnId",      document.deleteData).val($(this).attr("lgnId"));
	        $("#mailAddr",   document.deleteData).val($(this).attr("mailAddr"));
	        $("#hpno",       document.deleteData).val($(this).attr("hpno"));
	        
	        $("#myModal3").modal('show');
            
        }
    );

    /*]]>*/
</script>
<!-- /Page Body -->
</html>