<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Loading Container -->
<!-- Navbar -->
<div class="navbar" th:fragment="hederFragment">
    <div class="navbar-inner">
       <div class="navbar-container">
           <!-- Navbar Barnd -->
           <div class="navbar-header pull-left animated fadeInDown">
               <a th:href="@{/}" class="navbar-brand">
                   <small>
                       <img src="/assets/img/logo.png" alt="로고" />
                   </small>
               </a>
           </div>
           <!-- /Navbar Barnd -->
           <!-- Sidebar Collapse -->
           <div class="sidebar-collapse" id="sidebar-collapse">
               <i class="collapse-icon fa fa-bars"></i>
           </div>
           <!-- /Sidebar Collapse -->
           <!-- Account Area and Settings --->
           <div class="navbar-header pull-right">
               <div class="navbar-account">
                   <ul class="account-area">
                       <li>
                           <a class="login-area">
                               <!-- <div class="avatar" title="View your public profile">
                                   <img src="/assets/img/avatars/Javi-Jimenez.jpg">
                               </div> -->
                               <section>
                                   <h2><span class="profile">
                                   <span>Welcome to <th:block th:text="${#authentication.getPrincipal().getLgnId()}"></th:block> 님.</span></h2>
                               </section>
                           </a>
                       </li>
                       <!-- <li>
                           <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="관리자">
                               <i class="icon fa fa-user"></i>
                           </a>
                           사용자 설정//
                           <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                               <li>
                                   <a href="#">
                                       <div>
                                           <i class="fa fa-user fa-fw"></i> 개인정보 수정
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <a href="#">
                                       <div>
                                           <i class="fa fa-gear fa-fw"></i> 권한 설정
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <a href="grid_options.html">
                                       <div>
                                           <i class="fa fa-users fa-fw"></i> 권한 변경
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <div class="text-center link-block">
                                       <a href="notifications.html">
                                           <strong>모두 보기</strong>
                                           <i class="fa fa-angle-right"></i>
                                       </a>
                                   </div>
                               </li>
                           </ul>
                           //사용자 설정
                       </li>
                       <li>
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" >
                               <i class="icon fa fa-bell"></i>  <span class="label label-primary">8</span>
                           </a>
                           Notification Dropdown
                           <ul class="pull-right dropdown-menu dropdown-arrow dropdown-notifications">
                               <li>
                                   <a href="mailbox.html">
                                       <div>
                                           <i class="fa fa-envelope fa-fw"></i> 4건의 결제가 대기 중입니다.
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <a href="profile.html">
                                       <div>
                                           <i class="fa fa-twitter fa-fw"></i> 2건의 견적요청이 있습니다.
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <a href="grid_options.html">
                                       <div>
                                           <i class="fa fa-upload fa-fw"></i> 2건의 할 일이 있습니다.
                                       </div>
                                   </a>
                               </li>
                               <li class="divider"></li>
                               <li>
                                   <div class="text-center link-block">
                                       <a href="notifications.html">
                                           <strong>모두 보기</strong>
                                           <i class="fa fa-angle-right"></i>
                                       </a>
                                   </div>
                               </li>
                           </ul>

                           /Notification Dropdown
		</li> -->
                       <li class="margin-right-30">
                            <a class="dropdown-toggle" title="Log Out" href="/logout">
                               <i class="icon fa fa-sign-out"></i>
                           </a>
                       </li>
                       <!-- /Account Area -->
                       <!--Note: notice that setting div must start right after account area list.
                       no space must be between these elements-->
                       <!-- Settings -->
                   </ul>
                   <div class="setting">
                       <a id="btn-setting" title="Setting" href="#">
                           <i class="icon glyphicon glyphicon-cog"></i>
                       </a>
                   </div>
                   <div class="setting-container">
                       <label>
                           <input type="checkbox" id="checkbox_fixednavbar">
                           <span class="text">상단고정</span>
                       </label>
                       <label>
                           <input type="checkbox" id="checkbox_fixedsidebar">
                           <span class="text">슬라이드 메뉴고정</span>
                       </label>
                       <label>
                           <input type="checkbox" id="checkbox_fixedbreadcrumbs">
                           <span class="text">내비게이션고정</span>
                       </label>
                       <label>
                           <input type="checkbox" id="checkbox_fixedheader">
                           <span class="text">타이틀 고정</span>
                       </label>
                   </div>
                   <!-- Settings -->
               </div>
           </div>
           <!-- /Account Area and Settings -->
       </div>
   </div>
</div>