/** Colors
	#2E363F	= blue
	#1b1f23	= darker blue
	#454b56	= brighter blue
	#F07057 = orange
	#ed5434	= darker orange
	#f17b63	= brighter orange
 **************************************************************** **/

	/* theme main color [blue] */
	h1,h2,h3,h4,h5,h6,
	.divider.dark .fa,
	.divider.white .fa,
	div.tabs ul.nav-tabs li.active a,
	h4.panel-title a,
	div.toggle > label,
	.noimg-slider h1,
	.noimg-slider p,
	.list-icon li:before,
	.styleColor {
		color:#2E363F;

	}
	#slider h2,
	#slider .image-caption .inner p.dark,
	div.price-table.popular,
	.styleBackground {
		color:#fff;
		background-color:#2E363F;
	}
	/* overlay two colors */
	.overlay.color1 {
		background:rgba(41,47,56,0.8) !important;
	}
	.overlay.color2 {
		background:rgba(240,112,87,0.8) !important;
	}
	/* second color [orange] */
	a, .styleSecondColor, 
	.list-icon.color li:before,
	.item-box-desc small,
	p.dropcap:first-letter,
	ul.pagination a,
	ul.pagination a:hover,
	ul.pagination li.active .fa,
	ul.star-rated.styleSecondColor li i,
	.tp-catpion a,
	.divider.styleColor .fa {
		color:#F07057;
	}
	#slider .btn.btn-default {
		color:#F07057 !important;
	}

	a:hover, a:active {
		color:#ed5434;
	}


	#slider h3, .styleSecondBackground,
	.list-icon.color.circle li:before,
	.featured-box-minimal i.fa,
	.label-primary,
	div.featured-box i.fa,
	.progress-bar-primary,
	ul.pagination li.active a:hover,
	ul.pagination li.active a,
	ul.isotope-filter li.active a,
	ul.isotope-filter li.active a:hover,
	i.featured-icon,
	p.dropcap.color:first-letter,
	.blog-timeline .timeline-item .item-date span,
	ul.nav-pills li.active a {
		background-color:#ef4b6f;
        border:1px solid #ef4b6f;
	}

.styleSecondBackground2{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8a266+0,ef4a6c+100 */
background: #ef4b6f; /* Old browsers */
background: -moz-linear-gradient(45deg, #ff7c66 0%, #ef4b6f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #ff7c66 0%,#ef4b6f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #ff7c66 0%,#ef4b6f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c66', endColorstr='#ef4b6f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
border:none;
color: #fff;
    
}

    .modal-header {
		background-color:#fff;
        border:1px solid #e5e5e5;
	}

	.styleSecondBackground,
	.styleSecondBackground h1,
	.styleSecondBackground h2,
	.styleSecondBackground h3,
	.styleSecondBackground h4,
	.styleSecondBackground h5,
	.styleSecondBackground h6,
	.styleSecondBackground p {
		color:#fff;
	}

	/* Top Nav  */
	header#topNav nav ul.nav-main > li:hover > a, 
	header#topNav nav ul.nav-main li.active > a, 
	header#topNav nav ul.nav-main li.active > a:hover, 
	header#topNav nav ul.nav-main li.active > a:focus, 
	header#topNav nav ul.nav-main li.active i.icon-caret-down {
		color:#2E363F; 					/* active|hover color */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu,
	header#topNav nav ul.nav-main ul.dropdown-menu {
		background-color: #2E363F; 		/* dropdown background color */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover,
	header#topNav nav ul.nav-main ul.dropdown-menu li:hover > a {
		background-color: #1b1f23; 		/* hover background color */
	}
	header#topNav nav ul.nav-main li.dropdown:hover > a:after {
		border-bottom:#2E363F 10px solid;/* arrow color */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
		color: #ffffff; 				/* mega menu subtitle */
	}
	header#topNav nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a,
	header#topNav nav ul.nav-main ul.dropdown-menu > li > a {
		color: #afafaf; 				/* link color */
	}

	/* top Head */
	header#topHead.color {
		color:#fff;
		background-color:#F07057;
	}
	header#topHead.color a {
		color:#fff;
	}

	header#page-title {
		color:#2d2f3c;
	}
	header#page-title h1,
	header#page-title h2 {
		color:#2d2f3c;
	}

	/* Buttons */
	.btn-default {
		border:#d2d2d2 1px solid;
        background-color:#fff !important;
	}
	.btn-default:hover, .btn-default:active, .btn-default:focus {
		border:#ef4b6f 1px solid;
	}
	.btn-primary {
		background-color:#ef4b6f !important;
	}
	.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
		border:rgba(190,25,65,1) 1px solid!important;
		background-color:#d23053 !important;
	}

    .btn-success {
		border:#4cae4c 1px solid!important;
		background-color:#5cb85c !important;
	}
	.btn-success:hover, .btn-success:active, .btn-success:focus {
		border:#4cae4c 1px solid!important;
		background-color:#4cae4c !important;
	}

    .btn-more {
		background-color:#efefef !important;
        border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
        border-radius:0!important;
        font-size: 14px;
	}
	.btn-more:hover, .btn-more:active, .btn-more:focus {
		border-top:1px solid #ddd;
        border-bottom:1px solid #ddd;
		background-color:#bbb !important;
        border-radius:0!important;
	}

    .btn-black {
        border:1px solid #333;
        color: #fff!important;
		background-color:#333 !important;
	}
	.btn-black:hover, .btn-black:active, .btn-black:focus {
		border:1px solid #333;
        color: #fff!important;
		background-color:#444 !important;
	}


	
	/* Toggle */
	div.toggle.active > label {
		color:#fff;
		background-color:#ef4b6f;
        padding-left: 15px!important;
	}

	/* Panels */

	.panel-primary .panel-heading {
		background-color:#F07057;
		border-bottom:#F07057 1px solid;
	}
	.panel-body {
		background-color:#fff;
		-webkit-border-bottom-right-radius: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-moz-border-radius-bottomleft: 6px;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	/* Featured Box */
	div.featured-box i.fa:after {
		border-color:#F07057;
	}
	div.featured-box.nobg.border-only i.fa {
		color:#F07057;
		border-color:#F07057;
	}
	
	/* Featured Icons */
	i.featured-icon,
	i.featured-icon:after {
		border:#F07057 1px solid;
	}
	i.featured-icon.empty {
		color:#F07057 !important;
	}

	/* Popover */
	.popover-title {
		color:#fff;
		background-color:#F07057;
	}

	/* testimonials */
	.testimonial.color1 p,
	.testimonial.color1 cite {
		color:#fff;
		background-color:#2E363F;
	}
	.testimonial.color2 p,
	.testimonial.color2 cite {
		color:#fff;
		background-color:#F07057;
	}

	/* OWL Carousel */
	.owl-theme .owl-controls .owl-buttons div {
		color:#F07057;
	}

	/* slider */
	#slider li .noimg-slider h1{
		color:#2E363F !important;
	}

	#slider li.styleBackground .noimg-slider,
	#slider li.styleBackground h1,
	#slider li.styleBackground h2,
	#slider li.styleBackground p {
		color:#fff !important;
	}
	
	/* Top Search , Top Login */
	#topHead .signin-dd form button,
	#topHead .signin-dd form button:hover,
	#topHead .signin-dd form button:active,
	header#topNav li.search form button,
	header#topNav li.search form button:hover,
	header#topNav li.search form button:active {
		background-color:#F07057 !important;;
	}
	#topHead .signin-dd form button:after,
	header#topNav li.search form button:after {
		border: #F07057 10px solid; /* same with .btn-primary */
		border-top: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}


/** Hover Buttons
 **************************************************************** **/

.btn-hvr {
	cursor: pointer;
	background: #e1e1e1;
    color:#333;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #ef4b6f;
  color: white !important;
}

.hvr-fade.active{
  background-color: #ef4b6f;
  color: white;
}

/* Fade */
/**.hvr-fade {	padding:10px 20px 11px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #ef4b6f;
  color: white !important;
}
.hvr-fade .active{
  background-color: #ef4b6f!important;
  color: white;
}*/
