<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function () { //웹문서가 로딩되면 실행
			$("#btn_close").click(function () { //조회(검색)버튼 클릭
				caasToApp.setRefreshOnResume();
				$(opener.location).attr("href", "javascript:_fnFlngRst();");
				window.close();
	        });
    	});
		
		
	    /*]]>*/
	</script>
	<!-- 충전완료 메세지 -->
	<section>
		<div class="container">
			<div class="modal-header"><!-- modal header -->
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel2">충전완료</h4>
			</div><!-- /modal header -->

			<!-- modal body -->
			<div class="modal-body">
				<th:block th:if="${resultcode} == 00" >
					<p class="text-center fsize20">"충전이 완료되었습니다."</p>
					<p class="text-center">충전내역은 마이페이지에서 확인하실 수 있습니다.</p>
				</th:block>
				<th:block th:unless="${resultcode} == 00" >
					<p class="text-center fsize20">"충전이 실패하였습니다."</p>
					<p class="text-center"><th:block th:text="${resultmsg}" ></th:block></p>
				</th:block>
                   <hr class="mgt30 mgb30"><!-- divider -->
                   <div class="row mgt30">
                       <div class="form-group">
                           <div class="col-md-12 text-center">
                               <button class="btn btn-primary btn-md" id="btn_close">확인</button>
                           </div>
                       </div>
                   </div>
			</div>
		</div>
	</section>
</div>


</html>