<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function () { //웹문서가 로딩되면 실행
			$("#btn_close").click(function () { //조회(검색)버튼 클릭
				$(opener.location).attr("href", "javascript:_fnReGetCardList();");
				window.close();
	        });
    	});
		
		
	    /*]]>*/
	</script>
	<!-- 충전완료 메세지 -->
	<section>
		<div class="container">
			<!-- modal body -->
			<div class="modal-body pdb70">
				<th:block th:if="${resultcode} == 00" >
					<p class="text-center fsize20">"간편결제등록이 완료되었습니다."</p>
                   	<p class="text-center">간편결제내역은 마이페이지에서 확인하실 수 있습니다.</p>
                </th:block>
 				<th:block th:unless="${resultcode} == 00" >
					<p class="text-center fsize20">"간편결제등록이 실패 하였습니다."</p>
                   	<p class="text-center"><th:block th:text="${resultmsg}" ></th:block></p>
                </th:block>
				<hr class="mgt30 mgb30"><!-- divider -->
				<div class="row mgt30">
					<div class="form-group">
						<div class="col-md-12 text-center">
							<button class="btn btn-primary btn-md" id="btn_close">확인</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


</html>