<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
    
<div layout:fragment="content">
	<script type="application/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function () { //웹문서가 로딩되면 실행
			$("#btn_close").click(function () { //조회(검색)버튼 클릭
				$(opener.location).attr("href", "javascript:_fnFlngRst();");
				window.close();
	        });
    	});

	    /*]]>*/
	</script>
	<section>
		<div>
			<div class="modal-dialog" style="margin-top:150px">
				<div class="modal-content">
					<div class="modal-header"><!-- modal header -->
						<h4 class="modal-title" id="myModalLabel2">가상계좌 충전</h4>
					</div><!-- /modal header -->
					<th:block th:if="${resultcode} == 00" >
						<!-- modal body -->
						<div class="modal-body">
							<th:block th:if="${resultcode} == 00" >
							<p class="text-center fsize20">가상계좌가 발급 되었습니다.</p>
		                    <p class="text-center">아래 정보로 입금하시면 충전 처리 됩니다.</p>
		                    <div class="row">
		                    	<label class="control-label">입금은행 : </label>
		                    	<th:block th:text="${bankNm}" ></th:block>
							</div>
							<div class="row">
								<label class="control-label">계좌번호 : </label>  
								<th:block th:text="${vaccNo}" ></th:block>
							</div>
							<div class="row">
								<label class="control-label">계좌주명 :</label>
								<th:block th:text="${acowNm}" ></th:block>
							</div>
							<div class="row">
								<label class="control-label">마감기한 :</label>
								<th:block th:text="${rcptEndDttm}" ></th:block>
							</div>
							<hr class="mgb30">
						</th:block>
						<th:block th:unless="${resultcode} == 00" >
							<p class="text-center fsize20">가상계좌 발급이 실패하였습니다.</p>
							<p class="text-center"><th:block th:text="${resultmsg}" ></th:block></p>
						</th:block>

	                    <div class="row mgt30">
	                        <div class="form-group">
	                            <div class="col-md-12 text-center">
	                                <button class="btn btn-primary btn-md" id="btn_close">확인</button>
	                            </div>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</html>