<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="mctAjax">
<div class="col-xs-12">
	<input type="hidden" id="totCnt" th:value="${totCnt == null ? 0 : totCnt}"/>
	
	<th:block th:if="${#lists.isEmpty(dntnMctLst)}">
		등록할 단체가 없습니다.
	</th:block>
	<th:block th:unless="${#lists.isEmpty(dntnMctLst)}">
		<ul class="team-add">
			<th:block th:each="dntnMctLst, index : ${dntnMctLst}" th:with="clsVal=(${dntnMctLst.cncrYn} == 'Y')? 'active' : ''">
				<li class="col-xs-3" th:value="${dntnMctLst.mrchGrpId}" th:str1="${dntnMctLst.cncrYn}" th:str2="${dntnMctLst.cncrGrpSq}">
                    <div th:class="${clsVal}">
                        <img th:src="${dntnMctLst.mrchGrpImg}" th:alt="${dntnMctLst.mrchGrpNm}" onError="this.src='/assets/images/demo/sum/sum_01.jpg';">
                    </div>
                    <p th:text="${dntnMctLst.mrchGrpNm}"></p>
                </li>
			</th:block>
          	</ul>
	</th:block>
</div>
<script type="application/javascript" th:inline="javascript">
/*<![CDATA[*/
	//가맹단체별 기부리스트 조회
	$('.col-xs-3').click(
		function(){
			var mrchGrpId = $(this).attr('value');
			var cncrYn = $(this).attr('str1');
			var cncrGrpSq = $(this).attr('str2');
			
			fnInsDntnCncr(mrchGrpId, cncrGrpSq, cncrYn);
		}
	);
/*]]>*/
</script>
</body>
</html>