<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="cncrAjax">
<div class="owl-carousel mgb0" data-plugin-options='{"items": 1, "singleItem": false, "autoPlay": false, "navigation": false}'>
	<th:block th:if="${#lists.isEmpty(dntnCncrLst)}">
		<div>
			<ul>
				<li class="col-xs-4">
	                <a class="active"><div class="sum"><img src="/assets/images/demo/sum/sum_01.jpg" alt="전체"></div></a>
	                <p>전체</p>
	            </li>
	            <li class="col-xs-4" th:value="add">
	                <div class="add" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></div>
	                <p>추가</p>
	            </li>
			</ul>
		</div>
	</th:block>
	
	<th:block th:unless="${#lists.isEmpty(dntnCncrLst)}">
		<th:block th:each="lst, index : ${dntnCncrLst}" th:inline="text">
		
			<th:block th:with="value=${index.count+1}">
				<th:block th:if="${index.first eq true or (value%3 ==1)}" th:utext="${lst.strtTag}"></th:block>
					<li class="col-xs-4" th:if="${index.first eq true}" value="all">
		                <a class="active"><div class="sum"><img src="/assets/images/demo/sum/sum_01.jpg" alt="전체"></div></a>
		                <p>전체</p>
		            </li>
						
					<li class="col-xs-4" th:value="${lst.mrchGrpId}" th:str1="${lst.mrchGrpNm}" th:inline="text">
			            <a><div class="sum"><img th:src="${lst.mrchGrpImg}" th:alt="${lst.mrchGrpNm}"></div></a>
			            <p th:text="${lst.mrchGrpNm}"></p>
			        </li>
				    
				    <th:block th:if="${index.last eq true and (value%3==0)}" th:utext="${lst.endTag}"></th:block>
				    <th:block th:if="${index.last eq true and (value%3==0)}" th:utext="${lst.strtTag}"></th:block>
					<li class="col-xs-4" th:value="add" th:if="${index.last eq true}">
		                <div class="add" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></div>
		                <p>추가</p>
		            </li>
	           	<th:block th:if="${index.last eq true or (value%3==0)}" th:utext="${lst.endTag}"></th:block>
			</th:block>
		</th:block>
	</th:block>
</div>
<script type="application/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(function (){
		//fnGetDntnMctList();	//가맹단체 리스트
		fnGetDntnTdyInf();	//TODAY 참여자, 모금현황
		fnGetDntnList();	//기부 리스트
	});
	
	//관심가맹단체별 기부리스트 조회
	$('.col-xs-4').click(
		function(){
			var gb = $(this).attr('value');
			if(gb == 'add'){ //추가(버튼) 클릭 시, 가맹단체 추가 팝업
				document.getElementById("mctForm").reset();
				$("#pageNo", document.mctForm).val(1);
				
				fnGetDntnMctList();
			}else{ 
				$(".col-xs-4 > a").removeClass();
				$(this).children('a').attr("class", "active");
				
				var mrchGrpId = $(this).attr('value') == 'all' ? "" : $(this).attr('value');
				var mrchGrpNm = $(this).attr('str1') == null ? "" : $(this).attr('str1');
				$("#mrchGrpId", document.mainForm).val(mrchGrpId);
				$("#mrchGrpNm").text(mrchGrpNm);
				
				fnGetDntnTdyInf();	//TODAY 참여자, 모금현황
				fnGetDntnList();	//기부 리스트
			}
		}		
	);
/*]]>*/
</script>
</body>
</html>