<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="notcLst">
	
	<th:block th:if="${#lists.isEmpty(notcLst)}">
              <li><p class="text-center mgt20">알람 내용이 없습니다.</p></li>
	</th:block>
	
	<th:block th:unless="${#lists.isEmpty(notcLst)}">
		<th:block th:each="notcLst : ${notcLst}">
			<li>
	            <a class="list_item" th:value="${notcLst.notcSq}">
	                <span class="ico_notice" th:text="${notcLst.notcGbVal}" th:if="${notcLst.notcGb eq '01'}"></span>							<!-- 01:공지사항 -->
	                <span class="ico_info" th:text="${notcLst.notcGbVal}" th:if="${notcLst.notcGb eq '02'}"></span>								<!-- 02:기부안내 -->
	                <span class="ico_more" th:text="${notcLst.notcGbVal}" th:if="${notcLst.notcGb eq '03' or notcLst.notcGb eq '04'}"></span>	<!-- 03, 04:정기결제예정 -->
	                <span class="ico_new" th:if="${notcLst.rdYn eq 'N'}">N</span>																<!-- 알람을 읽지 않았을 경우, N표시 -->
	                <strong class="txt_type4 topic">서버이전으로 인한 시스템 점검 안내</strong>
	                <span class="txt_type4 date" th:text="${notcLst.regDttm}"></span>
	            </a>
	        </li>
		</th:block>
	</th:block>
	<th:block th:if="${hasNext eq true}">
		<div class="row mgt20">
	        <div class="col-md-12">
	            <button class="btn btn-more btn-lg w100p" id="btnNotcMore"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	        </div>
	    </div>
    </th:block>

	<script type="application/javascript" th:inline="javascript">
	$(function (){
		$('.list_item').click(function(){
			var notcKey = $(this).attr('value');
			console.log(notcKey);
		});
	});
	</script>
</body>
</html>