<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default">
 
<div layout:fragment="content">
	<!-- 505에러/ -->
	<section>
		<div class="container">
                
                <div class="row mgt30">

                    <div class="col-md-9 text-center">
                    
                    	<th:block th:if="${status} == 404" >
	                    	<h2 class="styleSecondColor">
								<strong>ERROR!!</strong><br>Page not found.
							</h2>
							<p class=""><span class="subtitle">죄송 합니다. 찾고 있던 페이지가 존재하지 않습니다.</span></p>
						</th:block>
						<th:block th:unless="${status} != 500" >
	                        <h2 class="styleSecondColor">
	                            <strong></strong><br><th:block th:text="${message}"></th:block>
	                        </h2>
	                        <p class=""><span class="subtitle">불편을 드려 죄송합니다.</span></p>
                        </th:block>
                    </div>
                    <hr>
<!--                     <aside class="col-md-3">
                        <ul class="nav nav-list">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 홈으로 가기</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> 뒤로가기</a></li>
                        </ul>
                    </aside> -->
				</div> 
			</div>
		</section>
	</div>
</html>