<!doctype html>
<html>
    <head>
        <title>Firebase Interface</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
        <link rel="shortcut icon" href="">    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        
    </head>

    <body>
        <div id="app">
        
        <div class="container">
        <div class="col">
        <div class="row">
        
            <h1>Firebase Interface</h1>
        </div>

            <div class="row">

            <div class="form-group col-lg-12">
              <label><strong>Title:</strong></label>
              <input type="text" class="form-control" v-model="msgTitle">
            </div>

            </div>
            
            <div class="row">
            <div class="form-group col-lg-12">
              <label><strong>Contents:</strong></label>
              <textarea rows="2" class="form-control" v-model="msgContents"></textarea>
            </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-12">
                  <label><strong>Update Info:</strong></label>
                  <textarea rows="5" class="form-control" v-model="msgDetails"></textarea>
                </div>
            </div>
            
            <div class="row">
            <div class="form-group col-lg-12">
              <label><strong>Token:</strong></label>
              <textarea rows="2" class="form-control" v-model="token"></textarea>
            </div>
            </div>
            
            <div class="row">
            <label>Message Type:</label>
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{selectedType}}
                  </button>
                  <div class="dropdown-menu">
                    <li v-for="option in options">
                        <a @click="changeType(option.value)">{{option.value}}</a></li>
                    </li>
                  </div>
                </div>   
            </div>
            
            </br>
            
            <div class="row">
            <label>Person:</label>
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{selectedToken}}
                  </button>
                  <div class="dropdown-menu">
                    <li v-for="thetoken in tokens">
                        <a @click="updateToken(thetoken.token, thetoken.name)">{{thetoken.name}}</a></li>
                    </li>
                  </div>
                </div>   
                
                <button class="btn btn-secondary" v-on:click="clearToken()">Clear Token</button>
                <button class="btn btn-secondary" v-on:click="setMyToken()">My Token</button>
            </div>
            
            </br>
            

            <div class="row" v-if="token.length == 0">            
            <button class="btn btn-secondary" v-on:click="msgToTopic">Send To Topic</button>            
            </div>
            
            <div class="row" v-else> 
            <button class="btn btn-secondary" v-on:click="msgToToken">Send To Token (single)</button>
            </div>


        </div>
        </div>
        </div>

       <script>
           var vm = new Vue ({
               el: '#app',
               data: {
                    msgType: 'update',
                    msgTitle: '체리앱이 업데이트 됐습니다!',
                    msgContents: '업데이트 된 앱을 다운받아주세요~',  
                    msgDetails: '',
                    token: '',  
                    selectedType: 'normal',
                    selectedToken: '서영은 대리님',
                      options: [
                        {value: 'normal'},
                        {value: 'update'}
                      ],
                     tokens: [
                    	{name: '서영은 대리님', token: 'fXM4UkM1G94:APA91bH4CCenps2Yaz01t5RcQ6FR3qrctA9dAzY5RH4rrcS864hlm_IbCMcO3UbvGe8-SaaSVwnD1cgTWapiSX-vvNQoM181KqAnjPY6E8unsAWWczDJjwZoEwuWudqiZp6Od1WuleKo'},
                    	{name: '우희 주임님', token: 'cYQrUexy66g:APA91bFDb4NLgy6ZahUpi_7BI493QhWOhzK6Lj1lsJ5YJmJBzzC1rpXp8Of29EoC-toGbN7WNnx_RtvzcabT3l5Nm9eoNf4qU1eVBRW6KwiSY_63B41Ybkhz6zE0shWgHj0ojZeRv6Na'},
                     ],
                    authKey: "key=AAAAlUIsHZk:APA91bG7r1c_JEwe0E31BJoW8xen5NprcsWuQPtb4vijXPfBQG0z0_F3HCeUbY3Sy0NUhU5g-LCsjvbjCmmLJpV29FdIs3UQmOFjunaTMxiWiP142i27HRl4AytvBWa9saP80qlY2AoE",
               },
               mounted() {
                
               },
               watch: {
                    
               },
               methods: {
            	   setMyToken: function(choice, name){
                		 this.token = caasToApp.getFirebaseToken();     
                		 this.selectedToken = 'MY TOKEN';
                	   },          	   
            	   
            	   clearToken: function(choice, name){
              		 this.token = '';     
              		 this.selectedToken = '';
              	   },
            	   updateToken: function(choice, name){
            		 this.token = choice;     
            		 this.selectedToken = name;
            	   },
	              changeType: function(choice){
	                   this.selectedType = choice;
	              },
                   msgToTopic: function(){                   
                   axios.post("https://fcm.googleapis.com/fcm/send",
                   {"to": "/topics/rexTopic", "data" : {"message" : this.msgContents, "title" : this.msgTitle, "type" : this.selectedType, "details" : this.msgDetails}},
                   { headers: { 'content-type': 'application/json', 'Authorization': this.authKey }}
                   ).then( response =>{
                            alert("Sent Message!");
                       }).catch(function(error){
                        console.log(error)
                        alert("error...");
                       })    
                    },  

                    msgToToken: function(){                   
                   axios.post("https://fcm.googleapis.com/fcm/send",
                   {"to": this.token, "data" : {"message" : this.msgContents, "title" : this.msgTitle, "type" : this.selectedType, "details" : this.msgDetails}},
                   { headers: { 'content-type': 'application/json', 'Authorization': this.authKey }}
                   ).then( response =>{
                            alert("Sent Message!");
                       }).catch(function(error){
                        console.log(error)
                        alert("error...");
                       })
                    }                  
               }
           })

        </script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="/assets/js/caas.app.js"></script>
    </body>
</html>