<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 정기결제 목록 -->
<body th:fragment="fxprBllList">
  <th:block th:if="${#lists.isEmpty(resultList)}">
	 <strong class="txt_type4 topic">정기기부 내역이 존재하지 않습니다.</strong>	
  </th:block>	
  <th:block th:unless="${#lists.isEmpty(resultList)}">
	 <th:block th:each="resultList : ${resultList}" >
		<div class="row">
		   <div class="col-md-12">
		       <div class="white-row box-shadow pdt5 pdb5 mgb10">
		           <div class="toogle"><!--div class="toogle toogle-accordion"-->
		               <div class="toggle">
		                   <span class="label label-success mgb2" th:text="${resultList.mrchGrpNm}"></span>
		                   <span class="label btn-black mgb2" th:text="|${resultList.statYm} ~ ${resultList.endYm}|"></span>
		                   <!-- <span class="label btn-black mgb2" th:text="${resultList.fxprStatNm}"></span> -->
		                   <label th:text="${resultList.cmpNm}"></label>
		                   <div class="toggle-content">
		                       <div class="row fxprInfo" th:data="${resultList.fxprDntnSq}">
		                           <label class="col-xs-4 pdt10">후원일</label>
		                           <div class="col-xs-8 pdl0 mgb5">
		                               <select class="form-control pointer otaDt">
		                                   <option value="01" th:selected="${resultList.otaDt eq '01'}">매달 01일</option>
		                                   <option value="05" th:selected="${resultList.otaDt eq '05'}">매달 05일</option>
		                                   <option value="10" th:selected="${resultList.otaDt eq '10'}">매달 10일</option>
		                                   <option value="15" th:selected="${resultList.otaDt eq '15'}">매달 15일</option>
		                                   <option value="20" th:selected="${resultList.otaDt eq '20'}">매달 20일</option>
		                                   <option value="25" th:selected="${resultList.otaDt eq '25'}">매달 25일</option>
		                               </select>
		                           </div>
		                           <label class="col-xs-4 pdt10">결제방법</label>
		                           <div class="col-xs-8 pdl0 mgb5">
		                               <select class="form-control pointer bllKn">
		                                   <option value="" selected="selected">간편결제 카드</option>
		                               </select>
		                           </div> 
		                           <label class="col-xs-4 pdt10">후원금액</label>
		                           <div class="col-xs-8 pdl0 mgb5">
		                               <div class="input-group">
		                                   <input type="tel" class="form-control text-right fsize18 fc04 money otaAmt" th:value="${#numbers.formatInteger(resultList.otaAmt,0,'COMMA')}" maxlength="20">
		                                   <span class="input-group-addon"><i class="fa fa-won"></i></span>
		                               </div>
		                           </div>
		                           <div class="btn-group mgt5 w100p">
		                               <button class="btn btn-black btn-md w50p btnEnd">종료</button>
		                               <button class="btn btn-success btn-md w50p btnUpd">변경</button>
		                           </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
     </th:block>
  </th:block>
  <script type="application/javascript" th:inline="javascript">
	 /*<![CDATA[*/	
		$(".money").focus(function (){
			var str = this.value;
	        $(this).val(str.numberChar2());
	    });
		
		$(".money").focusout(function (){
			var str = this.value;
	        $(this).val(str.numberChar2().parseMoney());
	    });	
		
		//결제정보 변경
		$(".btnUpd").click(function(){
			var $info = $(this).closest(".fxprInfo");
			
			var seq = $info.attr("data");			//일련번호
			var otaDt = $(".otaDt", $info).val(); 	//후원일
			var otaAmt = $(".otaAmt", $info).val().replace(/,/g, ''); //후원금액
			
			var param = {fxprDntnSq:seq, otaDt:otaDt, otaAmt:otaAmt};
			goAjax("/my/updateFxprBll", "POST", false, param, fnUpdFxprCallBack);
		});
		
		//정기기부 종료
		$(".btnEnd").click(function(){
			var $info = $(this).closest(".fxprInfo");
			var seq = $info.attr("data");			//일련번호
			
			console.log(seq);
			var param = {fxprDntnSq:seq};
			goAjax("/my/deleteFxprBll", "POST", false, param, fnUpdFxprCallBack);
		});
		
		function fnUpdFxprCallBack(data){
			if(data.status.code != 0){
				alert(data.status.message);
				return;
			}
			$("#myModal").modal('show');
			$("#rsltMsg").text(data.status.message);
		}
	 /*]]>*/
  </script>
</body>

<!-- /Page Body -->
</html>