<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="dntnNewsAjax">
	<th:block th:if="${#lists.isEmpty(newsLst)}">
		<p>기부 소식/후기가 없습니다.</p>
	</th:block>
	<th:block th:unless="${#lists.isEmpty(newsLst)}">
		<th:block th:each="newsLst, index : ${newsLst}">
			<div class="divider styleColor" th:if="${index.first == true and pvo.pageNo != '1'}">
				<i class="fa fa-leaf"></i>
			</div>
			
			<div class="col-md-12" th:value="${newsLst.pageNo}">
				<h4 th:text="${newsLst.title}"></h4>
				<p th:inline="text">
					<small class="block styleSecondColor" th:text="${newsLst.regDttm}"></small> 
					[[ ${newsLst.cn} ]]
				</p>
				<img th:src="${newsLst.imgPth}" th:unless="${#strings.isEmpty(newsLst.imgPth)}"/>
			</div>
			
			<div class="divider styleColor" th:if="${index.last == false}">
				<i class="fa fa-leaf"></i>
			</div>
		</th:block>
	</th:block>
	<div class="row mgt20" th:if="${hasNext eq true}">
	    <div class="col-md-12">
	        <button class="btn btn-more btn-lg w100p" id="btnNewsMore"><i class="fa fa-plus"></i> &nbsp;더보기</button>
	    </div>
	</div>
</body>
</html>