<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="cmpNewsList">   
<div class="widget-body">
    <!-- // 목록 정보 -->
    <div class="listinfo mgt20" style="color:#d73d32">
        <i class="fa fa-info-circle"></i>
        &nbsp;총 <span id="spanTotalCnt" th:text="${totalCnt==null?0:totalCnt}"></span> 개
    </div>
    <div class="table-scrollable">
        <table class="table table-bordered table-striped table-condensed flip-content">
        	<colgroup>
      		    <col class="w15p"/>
      		    <col class="w15p"/>
                <col class="w20p"/>
                <col class="w35p"/>
                <col class="w15p"/>
            </colgroup>
            <thead class="flip-content bordered-orange">
                <tr>
                	<th class="text-center">운영단체<i class="fa"></i></th>
                    <th class="text-center">가맹단체<i class="fa"></i></th>
                    <th class="text-center">캠페인명<i class="fa"></i></th>
                    <th class="text-center">제목<i class="fa"></i></th>
                    <th class="text-center">등록일시<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<tr>
					<td colspan="5" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over" th:value="${resultList.cmpNewsSq}">
					   <td class="text-center" th:text="${resultList.oprGrpNm}"></td>
                       <td class="text-center" th:text="${resultList.mrchGrpNm}"></td>
                       <td class="text-left" th:text="${resultList.cmpNm}"></td>
                       <td class="text-left" th:text="${resultList.title}"></td>
                       <td class="text-center" th:text="${resultList.regDttm}"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    $('.list-mouse-over .row-mouse-over').click(
        function(){
            $('.list-mouse-over').find('tr').each(function(){
                $(this).removeClass('selectedRow');
                $(this).css('background-color', $(this).data('bgColor'));
            });
            var $this = $(this);
            $this.addClass('selectedRow');
            $this.css('background-color', '#cde7ff');
            
            var cmpNewsSq = $(this).attr('value');
            fnGetCmpNewsDetail(cmpNewsSq);
        }
    );

    /*]]>*/
</script>
<!-- /Page Body -->
</html>