<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="fxprDntnList">   
<div class="widget-body">
    <!-- // 목록 정보 -->
    <div class="listinfo mgt20" style="color:#d73d32">
        <i class="fa fa-info-circle"></i>
        &nbsp;총 <span id="spanTotalCnt" th:text="${totalCnt==null?0:totalCnt}"></span> 개
    </div>
    <div class="table-scrollable">
        <table class="table table-bordered table-striped table-condensed flip-content">
      		<colgroup>
      			<col class="w10p"/>
      			<col class="w10p"/>
                <col class="w20p"/>
                <col class="w9p"/>
                <col class="w9p"/>
                <col class="w9p"/>
                <col class="w7p"/>
                <col class="w10p"/>
                <col class="w12p"/>
            </colgroup>
            <thead class="flip-content bordered-orange">
                <tr>
                	<th class="text-center">운영단체<i class="fa"></i></th>
                	<th class="text-center">가맹단체<i class="fa"></i></th>
                    <th class="text-center">캠페인<i class="fa"></i></th>
                    <th class="text-center">기부자<i class="fa"></i></th>
                    <th class="text-center">개시연월<i class="fa"></i></th>
                    <th class="text-center">종료연월<i class="fa"></i></th>
                    <th class="text-center">출금일<i class="fa"></i></th>
                    <th class="text-center">출금금액<i class="fa"></i></th>
                    <th class="text-center">등록일시<i class="fa"></i></th>
                </tr>
            </thead>
			<tbody class="list-mouse-over">
			<th:block th:if="${#lists.isEmpty(resultList)}">
				<tr>
					<td colspan="10" class="text-center">데이터가 존재하지 않습니다.</td>
				</tr>
			</th:block>
			<th:block th:unless="${#lists.isEmpty(resultList)}">
				<th:block th:each="resultList : ${resultList}" >
					<tr class="row-mouse-over">
					   <td class="text-center" th:text="${resultList.oprGrpNm}"></td>
					   <td class="text-center" th:text="${resultList.mrchGrpNm}"></td>
                       <td class="text-left" th:text="${resultList.cmpNm}"></td>
                       <td class="text-center" th:text="${resultList.cnrNm}"></td>
                       <td class="text-center" th:text="${resultList.statYmFmt}"></td>
                       <td class="text-center" th:text="${resultList.endYmFmt}"></td>
                       <td class="text-center" th:inline="text">[[${resultList.otaDt}]]일</td>
                       <td class="text-right" th:inline="text">[[${resultList.otaAmtFmt}]]원</td>
                       <td class="text-center" th:text="${resultList.regDttmFmt}"></td>
					</tr>
				</th:block>
			</th:block>
			</tbody>
		</table>
		<div id="paging"></div>
	</div>
</div>
<script type="application/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $('.list-mouse-over .row-mouse-over').hover(
        function(){
            var $this = $(this);
            $this.addClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.data('bgColor', $this.css('background-color')).css('background-color', '#cde7ff');
            }
        },
        function(){
            var $this = $(this);
            $this.removeClass('onHover');
            if($this.attr('class').indexOf('selectedRow')==-1){
                $this.css('background-color', $this.data('bgColor'));
            }
        });

    /*]]>*/
</script>
<!-- /Page Body -->
</html>